.feat-processq {
    background: #03121a url('/img/feat-business.jpg') center no-repeat;
    height: 195px;
}
#forward-history, /*ARA for queue forwarding history*/
#view-broadcast {
    font-family: 'ralewayregular';
    display: block;
    padding: 19px 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*height: 56px;*/
    margin-top: 8px;
    line-height: 18px;
    vertical-align: middle;
}

#process-queue a > span,
#forward-history > span, /*ARA for queue forwarding history*/
#view-broadcast > span {
    margin-right: 8px;
}
span.glyphicon-zoom-in {
    font-size: 11px;
    vertical-align: middle;
    margin-left: 6px;
    color: #aaa;
}
.priority-number {
    display: inline-block;
    font-size: 18px;
    font-family: 'ralewaybold';
}
.priority-number:hover {
    text-decoration: none;
}
#priority-number-modal .glyphicon-zoom-in {
    display: none;
}
#priority-number-modal table td {
    vertical-align: middle;
}
#priority-number-modal #priority-number-number {
    color: #286090;
    font-family: 'ralewaybold';
    font-size: 18px;
}
#processq #view-broadcast {
    margin-top: 0px;
    color: #fff;
    border-bottom: 4px solid #009b74;
    background-color: #00ba8b;
    /*background: #00ba8b url('/img/bg-view-broadcast.png') left no-repeat;*/
}
#processq #forward-history{ /*ARA for queue forwarding history*/
    margin-top: 0px;
    color: #333;
    border-bottom: 4px solid #cfd8db;
    /*background-color: #ff925b;*/
    background-color: #d7e0e2;
}


#processq #forward-history:focus, /*ARA for queue forwarding history*/
#processq #view-broadcast:focus {
    text-decoration: none;
}
#processq #view-broadcast:hover {
    background-color: #009b74;
}
#processq #forward-history:hover {  /*ARA for queue forwarding history*/
    /*background-color: #d36e3c;*/
    background-color: #cfd8db; /*gray for this button is less important*/
}
#forward-history:hover,
#view-broadcast:hover{
    text-decoration: none;
}
#processq .page-header p {
    margin-bottom: 0;
}
#processq .page-header {
    margin-bottom: 20px;
    padding-bottom: 0;
}
#processq .page-header h2 {
    margin-top: 6px;
    font-size: 24px;
    font-family: 'ralewaymedium';
}
.processq-box {
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-height: 400px;
    max-height: 480px; /*ARA prevents page stretching when too many numbers are called*/
    overflow: auto; /*ARA prevents page stretching when too many numbers are called*/
    margin-bottom: 40px;
}
.processq-box table td:nth-child(3){ /* ARA added new second column style for 3rd column should be retained*/
    text-align: right;
    padding-top: 12px;
    padding-bottom: 12px;
}
.processq-box table tbody th:nth-child(1){
    font-size: 16px;
    vertical-align: middle;
    padding-left: 20px
}
.processq-box .btn span {
    margin-left: 3px;
    color: #585a5d;
    font-size: 11px;
}
.processq-box td a {
    margin-right: 5px;
}
.processq-box .delete {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
.processq-box .btn-default {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px; /*ARA Process Queue - Buttons (MOBILE)*/
}
.processq-box .btn-default:hover {
    background-color: #1081a8;
    border: 1px solid #1081a8;
    color: #fff;
}
.processq-box .btn-default:hover span {
    color: #fff;
}
.q-actions {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.btn-select,
.processq-box .btn-select,
.processq-box .form-control {
    color: #23527c!important;
}
.processq-box .form-control {
    display: inline-block;
    /*width: 80%; rodel */
    margin-right: 10px;
    font-size: 20px;
    font-family: 'ralewaybold';
    border: 1px solid #777;
    color: #23527c;
    height: 40px;
}
.processq-box .q-actions .btn-primary {
    font-size: 40px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 38px;
    vertical-align: top;
}
.processq-box .q-actions .btn-orange {
    color: #fff;
    font-family: 'ralewaymedium';
    height: 40px;
    padding: 9px 20px;
}


/*ARA*/
.processq-box .btn-select,
.processq-box .dd-select {
    font-family: 'ralewaybold';
    font-size: 15px;
}
.processq-box .dd-select li {
    padding: 6px 10px;
}
.processq-box .btn-select {
    background-color: #fff;
    width: 100%;
    margin-right: 8px;
    text-align: left;
}
.processq-box .btn-select .caret {
    float: right;
    margin-top: 8px;
}

.processq .dropdown-wrapper{
    width: 100%; /*ARA dropdown menu to full length*/
    display:inline-block;
    margin-right: 10px;
}

.processq .dropdown-menu {
    left: 8px;
    border: 1px solid #999;
    width: 97%; /*ARA dropdown menu to full length*/
    background-color: #f7f7f7; /*ARA white background*/
    /*max-height: 100px; ARA prevents page stretching when too many numbers are called*/
    max-height: 140px; /*Rodel give it a more height*/
    overflow: auto; /*ARA prevents page stretching when too many numbers are called*/
}

.processq .btn-group .dropdown-menu {
    left: 0;
    width: inherit!important;
}

.btn-select {
    background: none;
    outline: none;
    border: none;
    padding: 8px 20px;
    border: 1px solid #777;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dd-select li:hover {
    background-color: #ddd;
}
#btn-pmore:focus {
    outline: none;
}

.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 75px;
    height: 15px;
    overflow: hidden;
    position: relative;
    background: url('/images/stars_unfilled.jpg');
    background-size: contain;
}

.star-rating-form {
    padding-right: 11px;
}

.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('/images/stars_filled.jpg');
    background-size: contain;
}

.star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
    opacity: 1;
}
.star-rating i ~ i {
    width: 40%;
}
.star-rating i ~ i ~ i {
    width: 60%;
}
.star-rating i ~ i ~ i ~ i {
    width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
    width: 100%;
}
.mb0 {
    margin-bottom: 0!important;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}
.mr5{margin-right: 5px;}
.orange {  color: #ff925b;  }
.cyan   {  color: #00ba8b;  }
.font-normal {
    font-family: 'ralewayregular';
}
.checkedin,
.checkedin.glyphicon,
.checkedin a,
.box-body .status.in {
    color: #00BA8B!important;
}
.notcheckedin,
.notcheckedin.glyphicon,
.notcheckedin a{
    color: #a3a3a3!important;
}
.dpq-icons {
    font-size: 10px;
    margin-top:5px;
    margin-right:3px;
}
.c-status {
    margin-top: 3px;
    margin-right: 10px;
}
.stopbutton {
    /*border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 0;*/
    padding: 6px 20px;
    width: 85px;
    margin-right: 5px;
}
.stopbutton span {
    color: #fff!important;
}
/*process queue cards*/
#feat-business-name {
    margin-top: 100px;
    font-size: 24px;
    line-height: 28px;
    font-family: ralewaysemibold;
    color: #00BA8B;
    margin-bottom: 0;
}
#feat-business-name span {
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    margin-bottom: 10px;
}
#service-terminal-names h2 {
    display: inline-block;
}
#service-terminal-names h2 small {
    display: block;
}
.date-today {
    font-family: 'ralewaybold';
    margin-top: 15px;
}
.date-today span {
    padding-right: 5px;
}
.dashed {
    vertical-align: top;
    margin: 0 6px;
}
.box-wrap {
    min-height: 400px;
}
.box {
    background-color: #fff;

    display: inline-block;
    margin: 10px 13px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    width: 200px;
}
.box p {
    margin-bottom: 0px;
}
.box-head, .box-body {
    padding: 12px;
}
.box-body {
    background: rgb(242,242,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.box a {color: #fff; display: inline-block;}
.box a:hover {text-decoration: none;}
.box-head .forward-number {
    color: #00BA8B;
    text-align: center;
    width: 30%;
}
.box-head .forward-number:hover {
    color: #00a77d;
    text-decoration: none;
}
.box-head .queue-number {
    color: #e46b2e;
    font-size: 26px;
    font-family: ralewaybold;
    overflow: hidden;
    width: 100%;
}
.box-head .queue-number a {
    color: #e46b2e;
}
.box-head .called-number {
    font-size: 26px;
    font-family: ralewaybold;
    overflow: hidden;
    width: 70%!important;
}
.box-head {
    border-bottom: 1px dotted #cccccc;
}
.box-head span,
.box-head small {
    display: block;
}
.box-head span {
    font-size: 18px;
    margin-bottom: 2px;
}
.box-head small {
    font-size: 8px;
    font-family: ralewaysemibold;
}
.box-footer .removeCard,
.box-footer .cardAction {
    padding: 12px 0;
    text-align: center;
    font-family: 'ralewaybold';
}
.box-body small {
    font-size: 11px;
}
.box-body .name {
    font-family: ralewaysemibold;
    font-size: 16px;
}
.box-body .name a {
    color: #333;
}
.box-body .name a:hover {
    color: #337ab7;
    text-decoration: underline;
}
.box-body .img-thumb {
    width: 30px;
    height: 30px;
}
.box-body .status {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 10px;
    color: #adadad;
}
.box-body .status span {
    padding-right: 5px;
}
.box-footer .removeCard {
    width: 25%;
    float: left;
}
.box-footer .cardAction {
    width: 75%;
    float: right;
}

.bgdcyan    {background-color: #00a77d; border-bottom: 1px solid #009670; border-top: 1px solid #009670;}
.bgcyan     {background-color: #00ba8b; border-bottom: 1px solid #00a77d; border-top: 1px solid #00a77d;}
.bgdblue    {background-color: #2a6aa1; border-bottom: 1px solid #245d8e; border-top: 1px solid #245d8e;}
.bgblue     {background-color: #337ab7; border-bottom: 1px solid #2a6aa1; border-top: 1px solid #2a6aa1; }
.cyan       {color: #00BA8B!important;}
.blue       {color: #e46b2e!important;}
.red       {color: #de411e!important;}

.bgdcyan:hover,
.bgcyan:hover,
.bgdblue:hover,
.bgblue:hover {
    -webkit-box-shadow:inset 0 0 5px 5px rgba(0,0,0,0.2);
    box-shadow:inset 0 0 5px 5px rgba(0,0,0,0.2);
}
.btn-white {
    background-color: #fff;
    color: #2c2c2c;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.btn-cyan {
    background-color: #00ba8b;
    color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
}
.btn-blue {
    background-color: #337ab7;
    color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
}
#fwd-history{ /*ARA Forward history in new design*/
    color: #333;
    background-color: #d7e0e2;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
}
#fwd-history, /*ARA Forward history in new design*/
#stop-queue,
#view-bcast,
#issue-number {
    width: 100%;
    height: 70px;
    vertical-align: middle;
    font-size: 14px;
    font-family: 'ralewaybold';
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#fwd-history span.glyphicon, /*ARA Forward history in new design*/
#stop-queue span.glyphicon,
#view-bcast span.glyphicon,
#issue-number span.glyphicon {
    padding-right: 5px;
    font-size: 15px;
}
#fwd-history:hover, /*ARA Forward history in new design*/
#stop-queue:hover,
#view-bcast:hover,
#issue-number:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#view-bcast:hover,
#issue-number:hover {
    color: #fff;
}
#view-bcast:hover {
    background-color: #00cc98;
}
#issue-number:hover {
    background-color: #3a89cd;
}
#stop-queue span {
    display: inline-block;
    padding-right: 5px;
}
#view-bcast {

}
.dtable {display: table;}
.dcell {display: table-cell; vertical-align: middle;}
/*isotope cards animation*/
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}

/*queue history*/
#table-queue-history th {
    vertical-align: middle;
    background-color: #333a44;
    color: #fff;
}
h2.cyan span {
    color: #585a5d;
    padding-right: 5px;
    font-size: 15px;
}
#input-history-date {
    cursor: text;
    background-color: #FFFFFF;
    font-weight: 700;
}
#process-queue-wrapper {
    min-height: 550px;
}
#table-queue-history>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
#table-queue-history>tbody>tr:nth-of-type(even) {
    background-color: #cfd8db;
}
#table-queue-history>tbody>tr>td {
    border: 1px solid #cfd8db;
}

/*ARA added styles for new 2nd column (user info)*/
@media only screen and (min-width: 991px) {
    .processq-box table td:nth-child(2){
        font-size: 16px;
        text-align: right;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 600px;
    }

    .processq-box table td:nth-child(2) div{
        padding-top: 26px;
    }
}

@media only screen and (max-width: 991px) {
    .processq-box table td:nth-child(2){
        display: none;
    }
}