.orange {
  color: #fe9636; }

body {
  background: #fefefe url("../../../images/business/landing/bg-top.jpg") top center no-repeat;
  font-family: "Open Sans", sans-serif;
  padding-top: 100px;
    font-size: 16px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.pricing {
    background: none;
    background-color: #e98b33!important;
}

body p {
  line-height: 26px; }

h2 {
  color: #00ba8b;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 100px;
  margin-top: 60px; }

h3 {
  color: #00ba8b;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 70px; }

h4 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #013a49;
  line-height: 24px; }

h5 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px; }
h4.orange {
    margin-bottom: 20px;
}
.mt8 {margin-top: 80px;}
section {
  padding: 100px 0 100px; }
table#pricing {
    border: 0px;
}
table#pricing thead th {
    color: #333;
    text-align: center;
    vertical-align: middle;
    border: 2px transparent;
    padding: 0px!important;

}


table#pricing td {
    padding: 12px!important;
    border: 1px solid #fff;
    font-weight: 400;
    color: #555;
    line-height: 24px;
    font-size: 16px;
}
table#pricing thead th span {
    color: #fff;
    display: block;
    padding: 20px;
}
.heada {
    background-color: #59709f;
    color: #fff;
}
.headb {
    background-color: #657fb3;
    height: 177px;
}
.headc {
    background-color: #1e9494;
    color: #fff;
}
.headd {
    background-color: #44a4a4;
    height: 177px;
}
.heade {
    background-color: #2983a4;
    color: #fff;
}
.headf {
    background-color: #2c8eb2;
}
.head1 {
    background-color: #e3e3e3;
    color: #333!important;
}
.head2 {
    background-color: #eee;
    color: #333;
    height: 177px;
}
table#pricing thead th small {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px!important;
    background-color: #2c8eb2;
    display: block;
    color: #fff;
    padding: 0px 20px 20px;
}
table#pricing thead th .price {
    font-size: 32px;
}
table#pricing thead th .price span {
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    padding: 0;
}
.pack {
    text-transform: uppercase;
    font-size: 18px;
}

table#pricing tr td:first-child {
    text-align: left;
    font-weight: 600;
    color: #333;
    width: 270px;
    font-size: 16px;
    padding-left: 20px!important;
    padding-right: 20px!important;
}
body.pricing #featherq-features {display: none!important;}

table#pricing tr:nth-child(even) {background: #f2f2f2;}
table#pricing tr td small {
    line-height: 18px;
    margin-top: 15px;
    display: inline-block;
    font-size: 12px;
}
.navbar-brand {
  height: inherit;
  padding: 0px;
  margin-left: 15px !important; }
.navbar-fixed-top {
    top: 40px;
}
.navbar-fixed-top.shrink {
    top:0px;
    padding: 5px 0;
    background-color: #283339;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.navbar-fixed-top.shrink ul {
    background: none;
    margin-top: 0px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 0px;
}
.navbar .navbar-brand img {
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    width: 100%;
}
.navbar-fixed-top.shrink .navbar-brand img {
    width: 160px!important;
    margin-top: 6px;
}
.nobg {
    background: transparent!important;
}
#banner {
  padding: 0px 0 0 0;
  height: 580px;
  color: #fff; }
  #banner .btn {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    border-radius: 22px;
    color: #fff;
    background-color: #4666b6;
    padding: 14px 40px;
    font-size: 13px;
    font-weight: 700; }
    #banner .btn img {
      height: 13px;
      margin-right: 12px;
      margin-top: -1px; }
  #banner p, #banner h1 {
    margin-bottom: 50px;
    /*text-shadow: 0 1px 1px #4f4f4f;*/ }
  #banner h1 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 80px;
    line-height: 44px; }
    #banner h1 span {
      font-weight: 600; }
  #banner #start {
      /*margin-left: 20px;*/
    margin-bottom: 20px; }

#featherq-features {
  background-color: #e1e0dc; }
  #featherq-features h4 {
    margin-bottom: 60px;
      line-height: 28px;
  }

#who-uses {
  background-color: #f4f3f0; }

#benefits {
  background-color: #f4f3f0; }
  #benefits h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 60px;
    margin-top: 20px; }

#featherq-works {
  background-color: #ffffff; }
  #featherq-works h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 600; }

#partners {
  background-color: #f3f2ee;
  padding-top: 100px; }
  #partners img {
    margin: 10px; }

#phone {
  padding-top: 100px;
  height: 680px;
  background: url("../../../images/business/landing/featherq-on-mobile.png") bottom right no-repeat;
  margin-bottom: -120px; }
  #phone p {
    font-size: 36px; }

.pre-footer {
  background-color: #283339; }
  .pre-footer img {
    margin-right: 10px; }
  .pre-footer p {
    color: #fff;
    font-size: 18px; }
  .pre-footer .pull-right {
    color: #fe9636;
    font-size: 22px; }
  .pre-footer .socials img {
    width: 40px;
    margin-right: 2px; }

footer {
  background-color: #181e22;
  padding: 56px 0; }
  footer p {
    margin: 0;
    color: #fff; }

ul.nav {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  border-radius: 24px;
  background-color: #283339;
  padding-left: 30px;

  padding-right: 30px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px; }

.navbar {
  margin-bottom: 0; }

.navbar-inverse {
  background: none;
  border: none; }

.navbar-inverse .navbar-nav > li > a {
  color: #fff; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffb667; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: none;
  color: #ffb667; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none; }

.socials {
  margin-top: 40px; }

#start {
  font-size: 22px !important; }
.navbar-inverse .navbar-toggle {
    background-color: #283339;
}
.detail-wrap {cursor: pointer;}
.detail-wrap img {width: 100%!important;}
#biz-fq-logo {width: 230px;}
.details {
  display: none;
  bottom: 76px;
  /* transition: all 0.4s ease-in-out;
  background: #fefefe url('../img/bg-details.png') center center no-repeat;
  	transform: scale(0);
  	opacity: 0; */
  /*background: rgba(0, 0, 0, 0.8);*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.9+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */

    height: 169px;
    width: 230px;
    left: 61px;
}
  .details p {
    color: #fff;
    padding: 10px;
    line-height: 22px;
    font-size: 14px;
    display: table-cell;
    vertical-align: middle; }
  .details .wrap {
    display: table;
    height: 100%; }

.rel {
  position: relative; }

.abs {
  position: absolute; }

.box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
#banner table .btn {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    border-radius: 22px;
    color: #fff;
    background-color: #ef8b2f;
    padding: 14px 40px;
    font-size: 13px;
    font-weight: 700;
}
.apple {background-color: #ebfafa!important;}
.banana {background-color: #bfe2e2!important;}
.ml40 {
  margin-left: 40px; }
.pricing h3 {
    color: #fff!important;
}
.pricing table td .btn {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    border-radius: 22px;
    padding: 12px 30px;
    margin: 30px 0;
}
.tri {
  margin-top: -100px; }

@media only screen and (max-width: 1200px) {
  ul.nav {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #phone > .row > .col-sm-12 {
    text-align: center; }
  #phone {
    background: none;
    padding-top: 60px; }
  body {
    background: #fefefe url("../../../images/business/landing/bg-top-sm.jpg") top right no-repeat; }
  #phone .visible-sm {
    margin-top: 40px; }

  /* specific screen nav toggle */
  .navbar-header {
    float: none; }

  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 40px;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; }

  /*  */
  .navbar-right {
    margin-right: 0px; }

  ul.nav {
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }

  #navbar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

  body {
    padding-top: 80px; }

  #partners {
    padding-top: 200px; }
    #partners img {
      width: 200px; }

  #banner .btn {
    font-size: 20px; }
    #banner .btn img {
      height: 21px; }

  #featherq-works img,
  #benefits img {
    width: 100%; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar-right {
    margin-right: -15px; }

  #partners img {
    width: 155px; }

  section {
    padding: 50px 0 70px; }

  .tri {
    margin-top: -50px; }

  #banner .btn {
    font-size: 20px; }
}
@media only screen and (max-width : 480px) {
    #partners {
        padding-top: 140px;
    }
    #partners img {
        display: inline-block;
        width: 135px;
        margin:0;
    }
    section .container h2 {
        font-size: 30px;
    }
}


