#public-broadcast {
    background-color: #e9e9e8;
}
#public-broadcast .cta {padding: 8px 0;}
#public-broadcast .cta>span {color: #fff; margin-right: 15px;}
.navbar-default {
    background-color: #262a31;
}
.navbar-brand {
    height: inherit;
    padding: 12px 0;
}
.boxed-single .wrap, .boxed, .getnum-info .pull-right {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.boxed {
    border: 1px solid #c6c6c6;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.10);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.10);
}
.boxed .head.head-wbtn {
    padding-right: 0;
}
.boxed .head {
    padding: 18px 20px;
    background-color: #fff;
}
.boxed .head, .modal-header, #pmore-window .nav-tabs>li.active>a {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#btn-bcast-details {
    margin-top: -16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bcast-details {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #2f3131;
    color: #fff;
    width: 100%;
    height: 100%;
}
.btn-fb {
    padding-top: 11px;
    padding-bottom: 11px;
    margin-right: 3px;
}
.boxed .head.head-wbtn .btn-half {
    float: right;
}
.boxed .body h4 {
    margin: 0;
    color: #262a31;
    margin-bottom: 15px;
}
.boxed .head h3, .boxed-single h3 {
    margin: 0;
    font-size: 16px;
    color: #356ab1;
}
.boxed .body.broadcast {
    position: relative;
    overflow: hidden;
}
.boxed .head, .boxed .body {
    padding: 20px;
}
.body-gradient {
    background: #ececec;
    background: -moz-linear-gradient(top, #ececec 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #ececec 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #ececec 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #ececec 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #ececec 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 );
}
.boxed-single .wrap, .boxed, .getnum-info .pull-right {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.boxed-single .wrap {
    padding: 20px;
    background-color: #fff;
}
.getnum-info h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 26px;
}
.getnum-info h1 {
    color: #333;
    margin-bottom: 5px;
    font-size: 80px;
}

.boxed .broadcast .numbers {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 25px 15px;
    font-size: 58px;
    text-align: center;
    margin: 10px 0;
}
.boxed .broadcast .numbers.t1 {
    background-color: #44a9aa;
}
.boxed .broadcast .numbers.t2 {
    background-color: #657fb3;
}
.boxed .broadcast .numbers.t3 {
    background-color: #746ca8;
}
.boxed .broadcast .numbers .terminal.none, .boxed .broadcast .numbers .terminal {
    height: 18px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
}
.boxed .broadcast .numbers h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 900;
}
.getnum-info .pull-right, .getnum-info > div {
    background-color: #e7e7e7;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 10px 20px;
}

.ticker {
    z-index: 9999;
    bottom: 0px;
    width: 100%;
    background: rgba(255, 255, 255, 0.93);
}
.ticker div {
    font-size: 36px;
    font-family: ArialMTStd-ExtraBold;
    color: #333338;
    margin-bottom: 0px;
}
#public-broadcast .ticker {
    overflow: hidden;
}
#public-broadcast .main-wrap {
    min-height: inherit!important;
}
@font-face {
    font-family: 'ArialMTStd-ExtraBold';
    src: url('/fonts/broadcast/default/ArialMTStd-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/broadcast/default/ArialMTStd-ExtraBold.otf')  format('opentype'),
    url('/fonts/broadcast/default/ArialMTStd-ExtraBold.woff') format('woff'),
    url('/fonts/broadcast/default/ArialMTStd-ExtraBold.ttf')  format('truetype'),
    url('/fonts/broadcast/default/ArialMTStd-ExtraBold.svg#ArialMTStd-ExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
