@media (max-width: 2500px) {
    .boxed .broadcast .spaceht {
        font-size: 170px !important;
    }
}
@media (max-width:  2200px) {

}
@media (max-width:  1800px) {
    .ads-sixnums .terminal {
        line-height: 28px!important;
        font-size: 2.5vmin!important;
        height: 3em!important;
    }
    .ads-fournums .terminal {
        line-height: 39px!important;
        font-size: 3.5vmin!important;
        height: 2.6em!important;
        margin: 0!important;
    }
}
@media (max-width:  1680px) {
    .ads-sixnums .terminal {
        line-height: 36px!important;
        font-size: 26px!important;
        height: 2.8em!important;
    }
    .ads-fournums .terminal {
        line-height: 36px!important;
        font-size: 26px!important;
        height: 2.7em!important;
        margin: 0!important;
    }
    .ads-onenum .terminal {
        line-height: 42px!important;
        font-size: 28px!important;
        height: 3.2em!important;
    }
    .ads-onenum h1 {
        line-height: 152px!important;
        font-size: 210px!important;
        margin-top: 10px!important;
    }
    .onenum .terminal {
        line-height:65px!important;
        font-size: 42px!important;
        height: 3.2em!important;
    }
    .onenum h1 {
        margin-top: 10px!important;
        font-size: 340px!important;
    }
    .fournums .terminal {
        line-height: 38px!important;
        font-size: 32px!important;
        height: 2.8em!important;
        margin: 0!important;
    }
}
@media (max-width:  1600px) {
    .ads-sixnums .terminal {
        line-height: 24px!important;
        font-size: 2.5vmin!important;
        height: 2.7em!important;
    }
    .ads-fournums .terminal {
        line-height: 39px!important;
        font-size: 3.5vmin!important;
        height: 2.8em!important;
        margin: 0!important;
    }
}
@media (max-width:  1400px) {
    .ads-sixnums .terminal {
        line-height: 24px!important;
        font-size: 2.4vmin!important;
        height: 2.7em!important;
    }
}
@media (max-width:  1366px) {
    .ads-onenum h1 {
        margin-top: 20px!important;
        font-size: 120px!important;
        line-height: 105px!important;
    }
    .onenum .terminal {
        line-height:65px!important;
        font-size: 42px!important;
        height: 3.2em!important;
    }
    .onenum h1 {
        line-height: 266px!important;
        margin-top: 10px!important;
        font-size: 300px!important;
    }

    .onenum .numbers {
        padding: 40px 15px!important;
    }
    .fournums .terminal {
        line-height: 36px!important;
        font-size: 28px!important;
        height: 2.6em!important;
        margin: 0!important;
    }
}
@media (max-width:  1280px) {
    .ads-fournums .terminal {
        line-height: 32px!important;
        font-size: 26px!important;
        height: 2.6em!important;
        margin: 0!important;
    }
    .ads-sixnums .terminal {
        line-height: 36px!important;
        font-size: 26px!important;
        height: 2.8em!important;
        margin: 0!important;
    }
    .ads-onenum .terminal {
        line-height: 34px!important;
        font-size: 26px!important;
        height: 3.2em!important;
        margin-bottom: 0px!important;
    }
    .ads-onenum h1 {
        line-height: 152px!important;
        font-size: 190px!important;
        margin-top: 0!important;
    }
    .fournums .terminal {
        line-height: 38px!important;
        font-size: 32px!important;
        height: 2.6em!important;
        margin: 0!important;
    }
}

@media only screen and (max-width : 1200px) {
    body#broadcast .terminal {
        height: 2.8em;
        line-height: 28px;
    }
    .ads-sixnums .terminal {
        line-height: 22px!important;
        font-size: 2.2vmin!important;
        height: 2.7em!important;
    }
    .ads-fournums .terminal {
        line-height: 34px!important;
        font-size: 3.2vmin!important;
        height: 3em!important;
        margin: 0!important;
    }
}

/* advertisement video players mobile view fix*/
@media (max-width: 768px) {
    iframe, embed {
        height: 170px;
    }
}



@media (min-width: 768px) and (max-width: 979px) {
  .ads {
    display: none;
  }
  .ads-mobile {
    display: block!important;
  }
  .processq .btn-cyan,
  .processq .btn-blue,
  .processq .btn-orange {
    margin-top: 10px;
  }
  .processq table .btn-cyan,
  .navbar-nav {
    margin: 0;
  }
    #fqCarousel {
        min-height: inherit!important;
        margin-bottom: 20px!important;
    }
}

@media (max-width: 991px) {
  .mobileme {
    display: none!important;
  }
}

@media (max-width: 767px) {
  .processq .btn-cyan,
  .processq .btn-blue,
  .processq .btn-orange {
    margin-top: 10px;
  }
  .processq table .btn-cyan,
  .processq table .btn-blue,
  .processq table .btn-orange {
    font-size: 11px;
  }
  .processq table .btn-cyan,
  .navbar-nav {
    margin: 0;
  }
  .navbar-default .navbar-collapse {
    border: none;
  }
  .ads {
    display: none;
  }
  .ads-mobile {
    display: block!important;
  }
  /*3 24 2015*/
  #biz-broadcast .footer {
    display: none!important;
  }
    #fqCarousel {
        min-height: 470px!important;
    }
}

@media (max-width: 480px) {
    .publiclogin {
        margin-bottom: 10px;
    }

    .broadcast-logged {
        padding-bottom: 10px;
    }

    .publiclogin .btn-play img {
        height: 41px;
    }

    #biz-broadcast .btn-fb {
        font-size: 16px;
        margin-bottom: 6px;
    }

    .js-marquee {
        font-size: 23px!important;
    }
    #fqCarousel {
        min-height: inherit!important;
        margin-bottom: 20px!important;
    }

  .navbar-brand {
    margin-left: 10px;
  }
  .ads {
    display: none;
  }
  .ads-mobile {
    display: block!important;
  }
  .filterwrap .btn {
    padding-left: 0;
  }
  .filters {
    margin-top: 0;
  }
  .filters .filterwrap {
    margin-bottom: 15px;
  }
  .subnav .nav span {
    display: block!important;
    margin-bottom: 3px;
  }
  .subnav .nav-tabs>li>a {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
  }
  .subnav .container {
    padding: 0;
  }
  .navbar-nav {
    margin: 0;
  }
  .processq #btn-call {
    margin-top: 15px;
  }
  .processq .dropdown-menu {
    width: 90%!important;
  }
  .dropdown-menu>li>a {
      color: #fff!important;
  }
  #moreq .nav-tabs>li.active>a:focus, 
  #moreq .nav-tabs>li>a:hover, 
  #moreq .nav-tabs>li.active>a, 
  #moreq .nav-tabs>li.active>a:hover {
    background-color: #ff8649;
    color: #fff;
  }
  .bcast-big .head h3 {
    font-size: 22px;
  }
  .bcast-big .terminal {
    font-size: 20px!important;
  }

  .inline-btns a {
    display: block;
    text-align: center;
  }
  /*rodels 352015*/
  #editbiz-tabs {
    padding-left: 0px;
    padding-right: 0px;
  }
  #bizbroadcast .mb20 {
    min-height: 122px;
  }
  #bizbroadcast .inline-btns p {
    height: 28px;
    margin: 4px 0px 4px 4px;
  }
  .head-wbtn small {
    width: 75%;
  }
  .pull-right.qrcode {
    float: none!important;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
  .boxed .broadcast .numbers {
    font-size: 40px!important;
  }
  #broadcast .qrwrap {
    height: 250px!important;
  }
  .boxed .head {
      padding: 26px 20px;
  }
  /* @CSD 05042015 */
  .ads-sixnums h1 {
      font-size: 24vmin;
      line-height: 88px;
  }
  body#broadcast .terminal {
      font-size: 24px;
      line-height: 70px;
  }
  .ads-sixnums p.orange {
      font-size: 16px!important;
      padding-top: 0px!important;
  }
  #broadcast .head h4 {
      font-size: 30px;
  }
  .boxed .head.head-wbtn .btn-half {
      margin-top: -18px;
  }
}
@media (max-width: 768px) {
    .navbar-toggle {
        display: none!important;
    }
}
@media (max-width: 480px) {
    .boxed .broadcast .numbers {
        font-size: 38px;
    }
    body#broadcast .terminal {
        height: 1.7em;
        line-height: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
@media (max-width: 375px) {
    body#broadcast .terminal {
        height: 1.7em;
        line-height: 34px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 320px) {
    body#broadcast .terminal {
        height: 1.7em;
        line-height: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 0px;
        margin-bottom: 10px;
    }

}
