@media (max-width: 2000px) { 
  .filters {
    margin-top: 70px;
  }
  .intro .col-md-6 {
    margin-top: 40px;
  }
}
@media (max-width: 1199px) {
	.filters .btn {
		padding-left: 10px!important;
		padding-right: 10px!important;
	}
	.navs a {
		width: 31%;
	}
  #diy-carousel {
    margin-top: 210px;
  }

}
@media (max-width: 1024px) {
  .filters {
    margin-top: 10px;
  }
  .intro .col-md-6 {
    margin-top: 0px;
  }
  .intro h1 {
    margin-top: 20px;
  }
  .page2 p {
    display: none;    
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar img {
    width: inherit;
  }
  .main section.page2 h2,
  .main section.page3 h2 {
    margin-top: 140px!important;
    margin-bottom: 60px;
    font-size: 24px;
  }
  .hmobile {
    display: none;
  }
  .page2 h4 {
    color: #00BA8B!important;
    margin-bottom: 50px;
      text-align: center;
  }
  #diy-carousel {
    margin-top: 210px;
  }
}
@media (max-width: 990px) {

}

@media (max-width: 767px) {
  .hmobile {
    display: none!important;    
  }
  .intro .col-md-7>p {
    font-size: 14px;
  }
  .navbar img {
    width: inherit!important;
  }
  .main section.page2 h2,
  .main section.page3 h2 {
    margin-top: 40px!important;
    margin-bottom: 40px;
    font-size: 24px;
  }
  .hmobile {
    display: none;
  }
    .page4 .col-md-7 {
        text-align: center;
    }
}

@media (max-width: 480px) {
    #time_open-filter {
        width: 100%!important;
        text-align: center;
        border: 0px!important;
    }
    .intro {
        margin-top: 0;
        padding-top: 150px;
    }
    .navbar img {
    width: inherit!important;
  }
    .filterwrap .btn-group .btn {
        width: 100%;
    }
  .intro h1 {
  	font-size: 28px;
  }
  .searchblock input,
  .searchblock a {
  	display: block;
  	margin-bottom: 6px;
  	width: 100%;
  	margin-left: 0!important;
  }
  .filterwrap .btn-group {
  	margin-bottom: 8px;
  }
  .filters .btn {
  	padding-left: 0!important;
  }
  .boxed-single {
  	margin-bottom: 10px;
  }
  .navs a {
  	width: 95%;
  	margin: 5px;
  }
  .filters {
  	padding-left: 0;
  	padding-right: 0;
  	background: none;
    padding-bottom: 0;
    margin-top: 20px;
      height: 160px;
  }
  #search-keyword {
      text-align: center;
      background: rgba(255,255,255,0.2);
  }
  .filterwrap .btn-group {
      /*display: block;*/
      width: 100%;
      text-align: center;
      background: none;
  }
    .filterwrap .btn-group button {
    background: rgba(255,255,255,0.2);
    }
  .navs {
  	margin-top: 10px;
  }
  .filterwrap .dropdown-menu {
      width: 100%;
  }
  .intro .col-md-6>p {
    font-size: 14px;
  }
  .page1 {
    padding-bottom: 30px;
  }
  .main section.page2 h2,
  .main section.page3 h2 {
    margin-top: 40px!important;
    margin-bottom: 40px;
    font-size: 24px;
  }
  #diy-carousel {
    margin-top: 110px;
  }
  .page2 h4 {
    color: #fff!important;
    margin-bottom: 55px;
      text-align: center;
  }
    .page4 {
        padding-bottom: 80px;
    }
    .page4 .col-md-7 {
        text-align: center;
    }
    section.page1 {
        background: #060409 url(../../img/bg-mobile.jpg) no-repeat top center;
    }
    .page2  {
        background: #201f26 url(../../img/bg-mobile-feats.jpg) no-repeat top center!important;
    }
    .page4  {
        background: #0a0909 url(../../img/bg-mobile-contact.jpg) no-repeat top center;
    }
    .page4 .wrap {
        padding-top: 80px;
    }
    #search-filter {
        width: 100%;
    }
    .page4 a.h1 {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px!important;
    }
    /*please add this*/
    section.page2 h1, section.page2 h2 {
        margin-top: 80px;
        font-size: 27px;
    }
    section.page3 h2 {
        font-size: 27px;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .open>.dropdown-toggle.btn-default {
        background: rgba(255,255,255,0.3);
    }

}
@media (max-width: 320px) {
    .open>.dropdown-toggle.btn-default {
        background: rgba(255,255,255,0.3);
    }
    #search-filter {
        width: 100%;
    }
    .page2 h4 {
        font-size: 14px;
    }
    .intro h1 {
        margin-bottom: 75px;
    }
    .page4 .col-md-7,
    .page4 .col-md-5 {
        margin-top: 80px!important;
    }
    .page4 h4 {
        line-height: 30px;
        font-size: 18px!important;
    }
    .page4 a.h1 {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px!important;
    }
    .page4 {
        text-align: center;
        padding-bottom: 120px;
    }
    .page4 h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .page4 .col-md-8,
    .page4 .col-md-4 {
        padding: 0;
    }
    .page4 .col-md-4 .wrap {
        padding-top: 60px;
    }
}