@media (max-width: 2000px) { 
  .filters {
    margin-top: 70px;
  }
  .intro .col-md-6 {
    margin-top: 40px;
  }
}
@media (max-width: 1300px) { 
  .intro {
    margin-top: 100px;
  }
}
@media (max-width: 1199px) {
	.filters .btn {
		padding-left: 10px!important;
		padding-right: 10px!important;
	}
	.navs a {
		width: 31%;
	}
  #diy-carousel {
    margin-top: 210px;
  }
  .intro {
    margin-top: 100px;
  }

}
@media (max-width: 1024px) {
  .intro {
    margin-top: 100px;
  }
  .filters {
    margin-top: 10px;
  }
  .intro .col-md-6 {
    margin-top: 0px;
  }
  .intro h1 {
    margin-top: 20px;
  }
  .page2 p {
    display: none;    
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .intro {
    margin-top: 100px;
  }
  .navbar img {
    width: inherit;
  }
  .main section.page2 h2,
  .main section.page3 h2 {
    margin-top: 140px!important;
    margin-bottom: 60px;
    font-size: 24px;
  }
  .hmobile {
    display: none;
  }
  .page2 h4 {
    color: #fff!important;
    margin-bottom: 50px;
  }
  #diy-carousel {
    margin-top: 210px;
  }
}
@media (max-width: 990px) {

}

@media (max-width: 767px) {
  .hmobile {
    display: none!important;    
  }
  .intro .col-md-7>p {
    font-size: 14px;
  }
  .navbar img {
    width: inherit!important;
  }
  .main section.page2 h2,
  .main section.page3 h2 {
    margin-top: 40px!important;
    margin-bottom: 40px;
    font-size: 24px;
  }
  .hmobile {
    display: none;
  }
}

@media (max-width: 480px) {
  .navbar img {
    width: inherit!important;
  }
  .intro h1 {
  	font-size: 28px;
  }
  .searchblock input,
  .searchblock a {
  	display: block;
  	margin-bottom: 6px;
  	width: 100%;
  	margin-left: 0!important;
  }
  .filterwrap .btn-group {
  	margin-bottom: 5px;
  }
  .filters .btn {
  	padding-left: 0!important;
  }
  .boxed-single {
  	margin-bottom: 10px;
  }
  .navs a {
  	width: 95%;
  	margin: 5px;
  }
  .filters {
  	padding-left: 0;
  	padding-right: 0;
  	background: none;
    padding-bottom: 0;
    margin-top: 20px;
  }
  .navs {
  	margin-top: 10px;
  }
  .intro .col-md-6>p {
    font-size: 14px;
  }
  .page1 {
    padding-bottom: 30px;
  }
  .main section.page2 h2,
  .main section.page3 h2 {
    margin-top: 40px!important;
    margin-bottom: 40px;
    font-size: 24px;
  }
  #diy-carousel {
    margin-top: 110px;
  }
  .page3 {
    height: 80px!important;
  }
  .page2 h4 {
    color: #fff!important;
    margin-bottom: 40px;
  }
}