
@media only screen and (max-width : 1200px) {
	/*.nav-tabs>li>a {
		height: 81.5px;
	}*/
    .holdphone img {
        margin-left: 0px;
    }
    #myTabs .nav-tabs>li>a {
        height: 67.5px!important;
    }
    .banner .partners {
        margin-top: 50px;
    }
    .process h2 {
        text-align: center;
    }
    .process {
        margin-bottom: 0px!important;
        padding: 50px 0 80px;
        background: #fdfdfc;
    }
    .lead {
        padding-bottom: 50px;
    }
    .benefits .row:first-child {
        margin-top: 0!important;
    }
    .things {
        background: none;
    }
    #myTabs #signup-tab {
        width: 80%;
    }
    #myTabs #setup-tab {
        width: 60%;
    }
    #myTabs #serve-tab {
        width: 40%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .filterwrap .btn-orange {
        margin-left: -15px;
    }
}

@media only screen and (max-width : 992px) {
	.navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
	/*display stackmenu*/
	/*.navbar-header {
		height: 64px;
	}*/
	section.banner .slider-nav {
		margin-top: -140px;
	}
	.hidden-md {
		display: none;
	}
	.visible-md {
		display: block;
	}
	section.banner .slider-nav .slick-center a {
		display: none!important;
	}
    .things {
        background: none;
    }
    .banner .partners {
        margin-top: 50px;
    }
    .lead {
        padding-bottom: 50px;
    }
    .process {
        margin-bottom: 0px!important;
        padding: 50px 0;
    }
    .things {
        background: url('../../images/homepage/bg-featherq-app.png') bottom right no-repeat;
    }
    .banner h1 {
        margin-top: 50px;
    }
    .partners {
        padding-bottom: 50px;
    }
    #myTabs {
        margin-top: 0px!important;
    }
    #myTabs li {
        float: left;
        width: 33.3%!important;
    }
    #myTabs li a {
        width: 100%!important;
    }
    .tab-content {
        margin: auto;
        text-align: center;
        padding: 0;
        margin-top: 20px;
    }
    #navbar {
        background-color: #fff;
    }
    #navbar ul.nav li a {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    .filterwrap .row {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .filterwrap .btn-orange {
        border-top-right-radius: 0px!important;
    }
    #time_open-filter {
        border: none!important;
    }
    #search-keyword {
        background: #fff;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 4px;
    }
    .filterwrap .btn-group:first-child {
        border-bottom-left-radius: 0px;
    }
    .filterwrap .btn-group:nth-child(n+1) {
        border-top-right-radius: 4px;
        border:none;
    }
    .feat {
        background: none;
        background-color: #0a1820;
    }
    .feat h1 {
        margin-top: 70px;
    }
    .navbar-brand {
        height: 40px;
    }
    .featureblock img {
        padding: 0 15px;
    }
}

@media only screen and (max-width : 768px) {
	section.banner .slider-nav {
		margin-top: -100px;
	}
	section.eyebrow {
		padding-top: 20px;
	}
	section.banner .slider-nav .slick-center a {
		display: none!important;
	}
	.do-mobile p,
	.do-mobile a {
		display: none;
	}
	/*.navbar-header {
		height: 64px;
	}*/
	.navbar-brand img {
		padding-left: 15px;
	}
	.abouts .text-center.mb30 img {
		width: 320px;
	}
    .things {
        background: none;
    }
    body section,
    body section h2 {
        text-align: center;
    }
    .benefits h3 {
        margin-top: 15px;
    }
    .things h1 {
        margin-top: 10px;
    }
    .banner {
        padding-bottom: 50px;
    }
}
@media (min-width: 480px) and (max-width: 513px) {
    #myTabs li a {
        height: 96px;
    }
}
@media only screen and (max-width : 480px) {
	.banner .slider-nav,
	.eyebrow,
	.do-mobile p,
	.do-mobile a {
		display: none;
	}
    .navbar-brand {
        width: 220px;
    }
	.navbar-brand img {
		padding-left: 15px;
	}
	/*.navbar-header {
		height: 64px;
	}*/
	.abouts .text-center.mb30 img {
		width: 320px;
	}
    .benefits h3 {
        margin-top: 20px;
    }
    .visible-xs img {
        margin-top: 20px;
        margin: auto;
    }
    .feat-business {
        height: 143px;
    }
    .biz-navs .nav-tabs > li {
        float:none;
    }
    .biz-navs {
        margin-top: 0;
    }
    .biz-details-wrap img {
        margin-bottom: 20px;
    }
    #time_open-filter {
        border: none!important;
        border-top-right-radius: 4px!important;
    }
    .filterwrap .btn-group:nth-child(n+1) {
        border-top-right-radius: 4px;
        border:none;
    }
    .filterwrap .row {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .btn-orange {
        border-top-right-radius: 0px!important;
    }
    #search-keyword {
        background: #fff;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 4px;
    }
    .filterwrap .btn-group:first-child {
        border-bottom-left-radius: 0px;
    }
    .banner .btn {
        margin: 12px 4px;
    }
    .banner h1 {
        font-size: 23px;
        line-height: 45px;
    }
    #myTabs li {
        float: none;
        width: 100%!important;
        margin: 6px 0!important;
    }
    #myTabs li a {
        width: 100%!important;
        height: inherit!important;
    }
    form#leaveemail {
        margin-bottom: 30px;
    }
    .features, .whocan, .contactus, .benefits {
        padding: 50px 0;
    }
    .features h2, .benefits h2, .process h2 {
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .benefits .row:last-child {
        margin-bottom: 0px;
    }
    .features p {
        font-size: 18px;
        margin-top: 5px;
    }
    .features img {
        margin-top: 20px;
    }
    #navbar ul.nav li a {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar.shrink .nav li a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width : 320px) {
    .banner {
        padding-top: 70px;
    }
    h2.ml20 {
        margin-left: 0!important;
        font-size: 18px!important;
        text-align: left;
    }
    h2.ml20 img {
        width: 40px;
    }
    .banner .slider-nav {
		display: none;
	}
	.navbar-brand img {
		padding-left: 5px;
	}
    .banner .btn {
        margin: 4px;
    }
    .whocan .imgs .block p {
        width: 100%;
    }
    .features p {
        font-size: 18px;
        margin-top: 5px;
    }
    .features img {
        margin-top: 20px;
    }
    .features, .whocan, .contactus, .benefits {
        padding: 50px 0;
    }
    .features h2, .benefits h2, .process h2 {
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .benefits .row:last-child {
        margin-bottom: 0px;
    }
    .banner h1 {
        line-height: 38px;
    }
    .banner .partners img {
        display: block;
        margin: 20px auto 15px;
        text-align: center;
    }
    .partners {
        padding-bottom: 0;
    }
    .navbar-brand img {
        width: 220px;
    }
    #navbar ul.nav li a {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar.shrink .nav li a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-toggle {
        margin-top: 48px;
    }
}



