body {
  -webkit-font-smoothing: antialiased;
  background: #ecf0f1;
  font-family: 'ralewayregular';
  font-size: 14px;
}

@font-face {
  font-family: 'ralewayregular';
  src: url('../fontss/raleway-regular-webfont.eot');
  src: url('../fontss/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
  url('../fonts/raleway-regular-webfont.woff') format('woff'),
  url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
  url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'ralewaybold';
  src: url('../fonts/raleway-bold-webfont.eot');
  src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
  url('../fonts/raleway-bold-webfont.woff') format('woff'),
  url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
  url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'ralewaysemibold';
  src: url('../fonts/raleway-semibold-webfont.eot');
  src: url('../fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
  url('../fonts/raleway-semibold-webfont.woff') format('woff'),
  url('../fonts/raleway-semibold-webfont.ttf') format('truetype'),
  url('../fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'ralewaymedium';
  src: url('../fonts/raleway-medium-webfont.eot');
  src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
  url('../fonts/raleway-medium-webfont.woff') format('woff'),
  url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
  url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
  font-weight: normal;
  font-style: normal;

}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'ralewaymedium';
}

h1 {line-height: 46px;font-size: 42px;}
h2 {color: #1d1e1f;font-size: 22px;}
h3,.h3 {font-size: 16px;}
h4 {font-size: 16px;}
a {text-decoration: none;}
p {margin-bottom: 30px;}
.feat {position: relative; }
.feat h1 {margin-top: 103px; color: #fff; margin-bottom:29px;font-size: 22px;font-family: 'ralewaymedium';}
.feat .glyphicon {font-size: 16px; margin-right: 12px; font-weight: normal;}
.page-header {margin: 45px 0 40px;}
.arrow {position: absolute;bottom:-17px;left: 50%;margin-left: -17px;}
.nomg {margin: 0;}
.bold {font-family: 'ralewaybold';}
.nav>li>a {padding: 20px 15px;}
.nav>li>a span {vertical-align: text-top; margin-right: 4px;}
.navbar {border:none;}
.dropdown-menu {padding: 0; border: none;}
.dropdown-menu>li>a {padding: 10px 15px;}
.navbar-brand {height: inherit;
    padding: 12px 0;
    padding-left: 15px;}
.navbar-brand img {width: 160px;}
.navbar-inverse { background-color: #070A0D; background-color:rgba(7, 10, 3, 0.9)}

.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse .navbar-brand { color: #FF8548}
.navbar-inverse .navbar-brand:hover { color: #FF925B}
.navbar-inverse .navbar-nav>li>a { color: #fff}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li.active span { color: #00BA8B}
.navbar-inverse .navbar-nav>li.active {background: none;}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover{background: none;color: #00BA8B;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #00BA8B}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #00BA8B}
.dropdown-menu { background-color: #070A0D}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #00BA8B}
.dropdown-menu>li>a { color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #fff}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #00BA8B}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 8px;
  padding-right: 8px;
}
.btn-orange {background-color: #ff8141!important;}
.btn-orange:hover {background-color: #ed701c!important;}
footer {background-color: #d6d7d7; padding: 15px 0 18px; margin-top: 30px;}
footer p {margin: 0;}



