.modal-body,
.modal-body textarea {
    padding-bottom: 5px!important;
    font-size: 13px;
}
.modal-body label {
    color: #555;
    margin-bottom: 0;
    font-weight: normal;
    font-family: ralewayregular;
}
.modal-body input {
    font-family: ralewaymedium;
    color: #222222;
}

/*****modals*****/
.modal-header {
    background-color: #00ba8b;
    border: none;
}
.modal-header button.close {
    line-height: 19px;
    font-size: 30px;
    opacity: 0.3;
}
.modal-header h3 {
    color: #fff;
    font-size: 16px;
    font-family: 'ralewaybold';
}
.modal-body {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
.modal .form-control {
    border: none;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 30px;
    padding-left: 2px;
}
.form-control {
    font-size: 13px;
}
.modal-body textarea,
.modal-body,
.modal-body .panel {
    line-height: 22px;
}
.modal .form-control:focus {
    background-color: #fff9e3;
}
.modal .form-group button.dropdown-toggle,
.modal .form-group .btn-group,
.modal .form-group .dropdown-menu {
    color: #555;
    width: 100%;
}
.modal .form-group .btn-group .btn {
    background: none;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid #c7c7c7;
    font-family: 'ralewayregular'!important;
    font-size: 14px;
    color: #555;
}
.modal .form-group .btn-group .btn .caret {
    text-align: right;
}

#setupBusiness .modal-footer {
    border: none;
    position: relative;
    padding-bottom: 20px;
}
#setupBusiness .alert {
    margin-bottom: 35px;
}