.modal-body,
.modal-body textarea {
    padding-bottom: 5px!important;
    font-size: 13px;
}
.modal-body label {
    color: #555;
    margin-bottom: 0;
    font-weight: normal;
    font-family: ralewayregular;
}
.modal-body input {
    font-family: ralewaymedium;
    color: #222222;
}

/*****modals*****/
.modal-header {
    background-color: #232931;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.modal-header button.close {
    line-height: 19px;
    font-size: 30px;
    opacity: 1;
    color: #fff;
}
.modal-header h3 {
    color: #fff;
    font-size: 18px;
    font-family: 'ralewaybold';
}
.modal-body {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
.modal .form-control {
    border: none;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 20px;
    width: 100%;
    background-color: #f0f0f0;
}
.form-control {
    font-size: 13px;
}
.modal-body textarea,
.modal-body,
.modal-body .panel {
    line-height: 22px;
}
.modal .form-control:focus {
    background-color: #fff9e3;
}
.modal .form-group button.dropdown-toggle,
.modal .form-group .btn-group,
.modal .form-group .dropdown-menu {
    color: #555;
    width: 100%;
}
.modal .form-group .btn-group .btn {
    background: none;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid #c7c7c7;
    font-family: 'ralewayregular'!important;
    font-size: 14px;
    color: #555;
}
.modal .form-group .btn-group .btn .caret {
    text-align: right;
}
.modal .alert {
    font-size: 11px;
}
 .modal-footer {
    border: none;
    position: relative;
     padding: 20px;
}.modal-header h3
.modal-footer button,
.modal-footer .btn {
    color: #fff;
    font-family: 'ralewaybold';
    padding-top: 10px;
    padding-bottom: 10px;
}
 .modal-footer .btn {
     font-size: 14px!important;
 }
.modal-message {
    font-size: 14px!important;
}
#pmore-tab li a {
    font-family: 'ralewaybold';
    background-color: #333a44;
    border: none;
    border-bottom: 1px solid #333a44;
    padding: 13px 20px;
    color: #fff;
}
#pmore-tab {
    margin-bottom: 15px;
}
#pmore-tab .nav>li>a {
    padding: 15px 20px;
}
#pmore-tab li.active a {
    background-color: #00ba8b;
    color: #fff;
    border: none;
    border-bottom: 1px solid #00ba8b;
}
.issue-submit-btn {
    padding-left: 35px;
    padding-right: 35px;
}
.btn-close,
.btn-close:hover {
    background: none;
    border: none;
    color: #333!important;
}
.navbar-form {
    margin-bottom: 0;
    padding: 0;
}
.btn[disabled] {
    background-color: #ccc!important;
}

