.feat-business {
    background: #03121a url('/img/feat-business.jpg') center no-repeat;
    height: 195px;
}
.biz-details-wrap {
    margin: 50px 0 40px;
}
.biz-navs {
    padding-left: 15px;
    padding-right: 15px;
}

.biz-navs .nav>li>a .glyphicon {
    font-size: 11px;
}
#view-broadcast,
#process-queue {
    font-family: 'ralewayregular';
    font-size: 16px;
    display: block;
    padding: 18px 20px;
    -webkit-border-radius: 8px;
    border-radius: 5px;
    margin-top: 8px;
    line-height: 18px;
    vertical-align: middle;
    height: 59px;
}
#view-broadcast {
    /*margin-top: 30px;*/
    color: #fff;
    /*background: #00ba8b url('/img/bg-view-broadcast.png') left no-repeat;*/
    background: #00ba8b;
}
#process-queue {
    position: relative;
    overflow: hidden;
    color: #fff;
    /*background: #ff925b url('/img/bg-processqueue.png') left no-repeat;*/
    background: #ff925b;
}
#process-queue a > span,
#view-broadcast > span {
    margin-right: 8px;
}
#view-broadcast:hover {
    background-color: #009b74;
}
#process-queue:hover {
    background-color: #d36e3c;
}
#view-broadcast:hover,
#process-queue:hover {
    text-decoration: none;
    cursor: pointer;
}
#process-queue {
    border-bottom: 4px solid #d36e3c;
    height: 80px;
    padding-top: 30px;
}
#process-queue a{
    color: #fff;
    text-decoration: none; /*ARA FEAQ-262 removes underline in process queue button*/
}
#add-business {
    font-family: 'ralewaybold';
    display: block;
    padding: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
}
#add-business {
    color: #fff;
    background: #ff925b;
}
#add-business span {
    padding-right: 8px;
    font-size: 11px;
}
#add-business:hover {
    background-color: #d36e3c;
}
#view-broadcast {
    border-bottom: 4px solid #009b74;
}
#view-broadcast:hover,
#add-business:hover {
    text-decoration: none;
    cursor: pointer;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover,.nav-tabs>li.active>a:hover {
    background-color: #00ba8b;
    color: #fff;
    border: none;
}
.nav-tabs>li>a {
    padding: 13px 20px;
    border: none;
    color: #fff;
    background-color: #333a44;
}
#bizTabContent h1,
#bizTabContent h2,
#bizTabContent h3,
#bizTabContent h4,
#bizTabContent h5,
#biz-grid h5,
.table-view-signups thead th {
    font-family: 'ralewaybold';
}
#bizTabContent .tab-pane h5 small {
    color: #777;
}
#bizTabContent,
#box-wrapper {
    background-color: #fff;
    padding: 22px 20px 14px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom: 40px;
    min-height: 300px;
}
#bizTabContent {
    margin-bottom: 20px!important;
}
.rounded-box {
    border-radius: 4px!important;
}
#box-wrapper {min-height: 80px;}
.biz-details h2 {
    text-shadow: 0 1px 0 #ffffff;
    font-family: 'ralewaybold';
    font-size: 24px;
    color: #00ba8b;
    margin-top: 5px;
    margin-bottom: 15px;
}
.biz-details p {
    margin-bottom: 5px;
}
.biz-details a {
    margin-bottom: 20px;
}
/*ARA 04082015*/
.biz-navs .form-control {
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
    background-color: #fff;
    -webkit-box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.1);
    box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.1);
}
.broadcast-wrap .form-control {
    background-color: #fff!important;
}
.table-hover>tbody>tr:hover {
    background: none;
}
.table.settings td {
    border: none;

    padding-left: 0;
    padding-right: 0;
}
.form-control {
    font-size: 13px;
    color: #333;
}
.form-control:focus {
    box-shadow: none;
    border: 1px solid #00ba8b;
    color: #000;
}
.biz-navs .form-control:focus {
    background-color: #fff;
}
.biz-navs .form-group button.dropdown-toggle,
.biz-navs .form-group .btn-group,
.biz-navs .form-group .dropdown-menu {
    color: #555;
    width: 100%;
}
.biz-navs .form-group .btn-group .btn {
    background: none;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    font-weight: normal;
    border-bottom: 2px solid #c7c7c7;
    font-family: 'ralewayregular'!important;
    font-size: 14px;
    color: #555;
}
.biz-navs .form-group .btn-group .btn .caret {
    text-align: right;
}
.address {
    margin-bottom: 15px!important;
}
#bizTabContent .tab-pane small {
    margin-bottom: 6px;
    font-size: 12px;
    display: inline-block;
    color: #555;
}
#tv-channel-select select {
    background-color: #fff;
}
#bizTabContent .tab-pane h5 {
    margin-bottom: 0px;
    font-size: 16px;
    color: #00ba8b;
}
#bizTabContent .btn-default {
    color: #337ab7;
    border: 1px solid #ccc;
}
#bizTabContent .btn-default:hover {
    background-color: #eee;
}
#bizTabContent .table thead th {
    background-color: #f2f2f2;
}
#bizTabContent .table>thead>tr>th {
    border-bottom: 1px solid #ddd;
}
#bizTabContent .well h5 {
    margin-top: 0;
    margin-bottom: 20px;
}
#bizTabContent .well .form-control {
    background-color: #fff;
}
#biz-grid h5 {
    font-size: 16px;
    color: #00ba8b;
}
.well .biz-navs .form-control {
    background-color: #fff!important;
}
.well input {
    background-color: #fff;
}
.header {
    margin-bottom: 30px;
}
#edit_business, #delete_business {
    margin-bottom: 20px;
}
#bizTabContent table td {
    border-top: 1px solid #e7e7e7;
}
h5>small {
    color: #333;
    font-size: 10px;
    font-family: ralewayregular;
    display: block!important;
    margin-top: 7px;
}
.settings input[type=checkbox] {
    font-size: 50px;
    float: left;
    margin-right: 12px;
    display: block;
}
.title {
    font-family: 'ralewaysemibold';
    margin-bottom: 6px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 14px 8px;
}
.biz-navs .table>thead>tr>th {
    padding: 18px 8px;
}
.biz-navs .nav-tabs li a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.dndesktop {
    display: none!important;
}

.dndesktop a:hover {
    background: none!important;
}

/* CSD 05252015 From css/dashboard.css */
.btn {
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: 'ralewaybold';
    font-size: 12px;
    font-weight: normal;
    color: #fff;
}
.btn:hover,
.btn.focus, .btn:focus {
    color: #fff;
    outline: 0;
}
.btn-orange {
    background-color: #ff925b;
}
.btn-orange:hover {
    background-color: #ed701c!important;
    color: #fff;
}
.btn-blue {
    background-color: #5b75b3;
}
.btn-blue:hover {
    background-color: #5880de;
}
.btn-half {
    -webkit-border-radius: 23px;
    -webkit-border-top-right-radius: 1px;
    -webkit-border-bottom-right-radius: 1px;
    -moz-border-radius: 23px;
    -moz-border-radius-topright: 1px;
    -moz-border-radius-bottomright: 1px;
    border-radius: 23px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}
.button span {
    padding-right: 15px;
}
.btn-getnum {
    padding: 14px 30px;
    font-size: 14px;
    width: 100%;
    /*margin-top: 14px;*/
}
.btn-getnum span {
    padding-left: 4px;
    font-size: 13px;
    vertical-align: middle;
    margin-top: -3px;
}

.btn-select {
    background: none;
    outline: none;
    border: none;
    padding: 8px 20px;
    border: 1px solid #777;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.btn-cyan {
    background-color: #00ba8b;
}
.btn-gray {
    background-color: #858689;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .4);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .4);
}

#editbiz-tabs {
    padding-left: 13px;
    padding-right: 13px;
    margin-bottom: 20px;
}
#editbiz-tabs a {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 1px;
}
.btn-boxy {
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 10px;
    font-family: 'ralewayregular';
    font-size: 12px;
    font-weight: normal;
    color: #fff;
}
.btn-light {
    background-color: #f2f2f2;
    color: #286090;
    border: 1px solid #ccc;
}
#btn-terminal-color {
    margin-right: 4px;
}
.inline-btns a {
    margin: 4px 0px 4px 0px;
}

#bizbroadcast .inline-btns p {
    height: 22px;
}
.btn-boxy:hover {
    text-decoration: none;
}
.nomg {
    margin: 0!important;
}
#inputterminal {
    display: none;
}
table .title {
    margin-bottom: 0!important;
}
.mb0  {  margin-bottom: 0!important;}
.mb10 { margin-bottom: 10px;  }
.mb20 { margin-bottom: 20px!important;  }
.mb30 { margin-bottom: 30px;  }
.mt10 { margin-top: 10px;  }
.mt20 { margin-top: 20px;  }
.mt30 { margin-top: 30px;  }

.table .block a {
    display: inline-block;
}

.table>tbody>tr>td {
    border-top: none;
}

.timestamp {
    font-size: 12px;
    color: #000;
    margin-bottom: 0px!important;
}
.sender {
    color: #000;
}
.messagefrom, .messageto {
    padding: 20px;
    color: #000;
}
.messagefrom {
    border-top: 1px solid rgb(0, 186, 139);
    background-color: rgba(0, 186, 139, 0.2);
}
.messageto {
    border-top: 1px solid rgb(255, 146, 91);
    background-color: rgba(255, 146, 91, 0.2);
}
.optionlabel {
    padding-left: 10px;
}
.phone-select {
    margin-bottom: 0px!important;
}

#select-phone-div {
    padding-top: 15px;
}
.biz-terminals {
    display: none;
    background-color: #1f5297;
    /*width: 280px;*/
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    -webkit-border-radius: 5px;
    height: 80px;
}
/*.assigned-terminals {
    left: 8px;
}*/
.biz-terminals a {
    float: left;
    width: 33.3333%;
    text-align: center;
    display: block;
    height: 100%;
    padding: 11px 0;
    color: #fff;
    min-height: 80px;
}
.biz-terminals a:hover {
    background-color: #3c93e4;
    text-decoration: none;
}
.biz-terminals a.not-active {
    opacity: 0.3;
}
.biz-terminals a.not-active:hover {
    cursor: text;
    background: none;
}
.biz-terminals a small {
    display: block;
    color: #fff;
    height: 100%;
    font-size: 14px;
}
#input_grace_period,
#input_check_in_field,
#input_sms_field {
    border: none;
    border-bottom: 1px solid #c7c7c7;
    width: 30px;
    padding-bottom: 4px;
    text-align: center;
}
.boxed {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #18323b url('../../img/bg-bizgrid-box.png') top right no-repeat;
    padding: 15px;
    overflow: hidden;
    margin-bottom: 15px;
}
#biz-grid p {
    margin-bottom: 0;
}
#biz-grid .boxed {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #18323b url('../../img/bg-bizgrid-box.png') top right no-repeat;
    padding: 25px;
    overflow: hidden;
    margin-bottom: 15px;
    height: 80px;
    position: relative;
}
#biz-grid .boxed:hover {
    background-color: #008160;
    cursor: pointer;
}
#biz-grid .boxed .title {
    color: #fff;
    font-size: 15px;
    font-family:  'ralewaybold';
    height: 21px;
    margin-top: 6px;
    margin-bottom: 2px;
    overflow: hidden;
}
#biz-grid .boxed .address {
    font-size: 11px;
    color: #c6c6c6;
    height: 15px;
    margin-bottom: 14px;
    overflow: hidden;
}
#biz-grid .statuses {
    background: url('../../img/bg-statuses-sep.jpg') top left no-repeat;
    color: #dedede;
    font-size: 11px;
    font-family: 'ralewaymedium';
    padding-top: 8px;
}
#biz-grid .statuses p {
    margin-bottom: 2px;
    text-transform: capitalize;
}
#biz-grid .boxed:hover .statuses {
    background: url('../../img/bg-statuseshover-sep.jpg') top left no-repeat;
    content: #fff;
}
input#input_grace_period:focus,
input#input_check_in_field:focus,
input#input_sms_field:focus{
    outline-width: 0;
    background-color: #fff9e3;

}

.orange {
    color: #ff8649!important;
}
.well a.btn-boxy {
    display: inline-block;
}

.btn-disabled {
    background-color: #ccc;
}

.btn-disabled:hover {
    color: #fff;
}

#ad-video {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    background-color: #f0f0f0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.div-view-business{
    padding-left: 15px;
}
#date-container{
    padding-top: 20px;
    padding-bottom: 50px;
}
#graphs-container{
    padding-bottom: 20px;
}
#label-container{
    font-size: 18px;
    padding-left: 15px;
    padding-bottom: 5px;
}
#advanced-container{
    padding-left: 10px;
}
/*#start-date{
    margin: 5px 10px 5px 0;
}
#end-date{
    margin: 5px 10px;
}*/
#end-date, #start-date{
    text-align: center;
    height: 36px;
}
#converted-end-date, #converted-start-date{
    text-align: center;
}
#converted-start-date{
    margin-right: 15px;
}
#converted-end-date{
    margin-left: 15px;
}
#business-label{
    font-size: 15px;
}
#filter-container, #industry-filter-container{
    border: 1px solid;
    padding: 5px;
}
#filter-labels{
    font-size: 14px;
}
#filter-buttons{
    text-align: right;
}
#filter-dropdown{
    padding-top: 20px;
    padding-bottom: 20px;
}
#business-numbers, #user-numbers,
#issued-numbers, #called-numbers,
#served-numbers, #dropped-numbers,
#business-numbers-label, #user-numbers-label,
#issued-numbers-label, #called-numbers-label,
#served-numbers-label, #dropped-numbers-label{
    font-size: 18px;
    text-align: center;
}
#lineIssuedChart, #lineCalledChart,
#lineServedChart, #lineDroppedChart{
    min-height: 325px;
}
/*#issued-container,#called-container,*/
/*#served-container, #dropped-container{*/
    /*padding: 25px 50px;*/
/*}*/
/*#called-container, #served-container,*/
/*#dropped-container {*/
    /*visibility: hidden;*/
/*}*/
#time-label-container{
    padding-top: 35px;
}

#assigned_business {
    text-decoration: none;
}
/*messaging css*/
#messages-wrap ul li a {
    cursor: pointer;
}
.message-preview {
    background-color: #f3f3f3;
    margin-bottom: 10px;
    padding: 25px 20px;
    border-radius: 6px;
}
button#sendreply {
    padding: 20px;
    float: right;
}
.message-reply {
    margin-top: 20px;
}
.uploadcare-widget-button-open {
    background-color: #969696!important;
}
.uploadcare-widget-button-open:hover {
    background-color: #7d7d7d!important;
}
#sendreplytext {
    background-color: #fff!important;
    border: 1px solid #ddd;
    resize: none;
}
.messageto,
.messagefrom {
    margin-left: 10px;
}
.helpblock {
    font-size: 12px;
    color: #333;
}
.active-btn-biz {
    border-bottom: 2px solid #00ba8b!important;
}
.btn-biz {
    background-color: #f8f8f8!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    border-radius: 0!important;
    margin-right: 10px!important;
}

.biz-terminals a small {
    height: 2.5em;
    overflow: hidden;
}

.reorder-note {
    margin-top: -20px;
}

.reorder-images {
    min-height: 150px;
}
/*rodel sep15*/
.broadcast-wrap {
    padding: 30px;
    margin-bottom: 20px;
    background-color: #daebf2;
}
.broadcast-wrap2 {
    padding: 15px 10px;
    margin-bottom: 20px;
    background-color: #daebf2;
}
.broadcast-wrap2 .alert {
    margin-bottom: 0;
}
#remote-limit {
    background-color: #daebf2;
    margin-bottom: 3px;
}
#ad-width {
    background-color: transparent;
    padding-left: 0px!important;
    padding-top: 0px!important;
}
#ad-num-width {
    background-color: #c6dce5;
}
#ad-width, #ad-num-width {
    padding: 10px 5px;
    border: none;
}
#ad-well-inner {
    width: 100%;
}
.broadcast-wrap h1, .broadcast-wrap h2, .broadcast-wrap h3 {
    margin-top: 0px;
}
.broadcast-wrap select {
    width: 220px;
    border: 1px solid #337ab7!important;
    background-color: #222;
    outline: none;
}
.ticker-wrap input {
    border: 1px solid #337ab7!important;
    color: #333;
    background-color: #fff!important;
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px!important;
}
.q-numbers .half {
    width: 47%;
    margin-bottom: 6px;
}
.q-numbers .half {padding: 20px 20px; text-align: center; font-size: 32px; background-color: #fff; font-family: 'ralewaybold';margin: 3px; }
.q-numbers .full {width: 100%;}
.rel {position: relative;} .abs {position: absolute;}
#ad-well-inner .drag {right: -44px;top:7%;}
#ad-well-inner .drag div {
    font-size:12px;
    padding: 6px 10px;
    color: #fff; font-family: 'ralewayregular';
    background-color: #337ab7;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
    transform: rotate(270deg); /* Standard syntax */
}
.remove_field {
    right: 0; top: 0; height: 100%; padding-top: 10px;
}
.q-minus,.q-add {padding-left: 10px!important;padding-right: 10px!important;}
.broadcast-wrap .ui-widget.ui-widget-content {background: none!important;}
.white {background-color: #fff!important;}

/*change jquery ui header color to match featherq branding*/
#ui-datepicker-div .ui-widget-header {
    border: 1px solid #fff;
    background: none!important;
    background-color: #00ba8b!important;

}
#create-service thead th {  background-color: #daebf2!important; padding: 14px 8px!important; vertical-align: middle;}
.form-control.white {background-color: #fff;}
#edit-service-name {
    background-color: #fff;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    display: inline-block;
    padding: 2px 4px;
    width:40%;
}
.general-container{
    text-align: center;
}

.search-business input, .search-business button,
.search-user input, .search-user button{
    width: 100%;
    margin-bottom: 20px;
}

.biz-service-form, .biz-status-form,
.biz-settings-form, .cus-main-form,
.cus-create-form, .biz-specific,
.user-container, .biz-create{
    display:none;
}
.admin-tabs li {
    display: block;
    float: none;
}
.admin-tabs li a {
    border-radius: 0px;
    margin: 0px;
}
.admin-tabs li:first-child a {
    margin-left: 2px;
}
.admin-tabs li a:hover {
    background-color: #495361;
}
#admin-cont-wrap {
    padding: 20px 15px;
    background-color: #dee2e3;
}
#admin-cont-wrap .general-container .form-control {width: inherit;}
#admin-cont-wrap .business-container, #admin-cont-wrap .user-container, .business-list-container {background-color: #fff; padding: 15px;}
#admin-cont-wrap .alert {border: none;}
#admin-cont-wrap .search-business, #admin-cont-wrap .search-user,
.search-business-list {padding-top: 10px; padding-bottom: 10px;}
/*#admin-cont-wrap .search-business .form-control {width: 70%; display: inline-block;}*/
/*#admin-cont-wrap .search-business button {width: 26%;}*/
#admin-cont-wrap .biz-name {color: #555;}
#admin-cont-wrap .table-form td {padding-bottom: 0px;}
#admin-cont-wrap .table-form .status h5 {display: inline-block; margin-right: 20px;}
#admin-list {background-color: #eee;}
#admin-list tr:hover {background-color: #ddd!important;}
.biz-main a,
.biz-service a,
.biz-status a,
.biz-settings a {
    width: 100%;
    background-color: #333a44!important;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 14px;
    text-transform: uppercase;
}
.table-inputnotblock .form-control {
    display: inline-block;
    width: inherit;
}
.table-inputnotblock .pb10 {
    padding-bottom: 15px!important;
}
#terminals .service-name {
    font-family: 'ralewaybold';
    font-size: 16px;
}
#terminals .terminal-name-display {
    display: inline-block;
    font-family: 'ralewaybold';
    font-size: 15px!important;
    padding: 5px 0;
    margin-bottom: 5px;
}
#terminal-colors {
    padding-left: 0;
}
#terminal-colors p {margin-bottom: 5px;}
#terminal-colors input[type="color"] {
    padding: 0px;
}
#terminal-colors .dropdown {
    display: inline-block;
}
#terminal-colors .btn {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    width: 100px;
}
#terminal-colors .t-btn {
    margin: 4px 4px 4px 0;
}
#terminal-colors .dropdown-menu {
    background-color: #f8f8f8;
    color: #333;
    height: 140px;
    overflow: auto;
}
#terminal-colors .dropdown-menu a {
    display: block;
}
#terminal-colors .dropdown-menu>li {
    margin: 6px 8px;
}
#terminal-colors .dropdown-menu>li>a {
    padding: 6px 15px;
    height: 20px;
}
#terminal-colors #cyan,
#terminal-colors button.cyan {
    background-color: #7acaad;
}
#terminal-colors #yellow,
#terminal-colors button.yellow{
    background-color: #f9c44d;
}
#terminal-colors #blue,
#terminal-colors button.blue {
    background-color: #5d8dbc;
}
#terminal-colors #orange,
#terminal-colors button.borange {
    background-color: #ed8c5c;
}
#terminal-colors #red,
#terminal-colors button.red {
    background-color: #de787c;
}
#terminal-colors #violet,
#terminal-colors button.violet {
    background-color: #887aac;
}
#terminal-colors #green,
#terminal-colors button.green {
    background-color: #89c27b;
}
#terminal-colors #ECD078,
#terminal-colors button.ECD078 {
    background-color: #ECD078;
}
#terminal-colors #D95B43,
#terminal-colors button.D95B43 {
    background-color: #D95B43;
}
#terminal-colors #C02942,
#terminal-colors button.C02942 {
    background-color: #C02942;
}
#terminal-colors #x542437,
#terminal-colors button.x542437 {
    background-color: #542437;
}
#terminal-colors #x53777A,
#terminal-colors button.x53777A {
    background-color: #53777A;
}
#terminal-colors #FCA78B,
#terminal-colors button.FCA78B {
    background-color: #FCA78B;
}
#terminal-colors #FF745F,
#terminal-colors button.FF745F {
    background-color: #FF745F;
}
#terminal-colors #x78250A,
#terminal-colors button.x78250A {
    background-color: #78250A;
}
#terminal-colors #x242436,
#terminal-colors button.x242436 {
    background-color: #242436;
}
#terminal-colors .terminal-name {
    display: block;
}
.table-responsive .panel {margin-bottom: 0;}
#btn-analytics, #adv-analytics {margin-top: 26px;}
#analyticsTabContent .panel-body .table thead th {
    background: none;
}
#analyticsTabContent .panel-heading a {
    display: block;
    font-family: 'ralewaysemibold';
}
.search-user-button,
.create-user-button {
    width: 100%;

}
form .bg-gray {
    background-color: #f2f2f2;
    display: inline-block;
    background-color: #f2f2f2;
    display: inline-block;
    padding: 12px 15px;
    width: 100%;
}
#toggle-qrcode {
    z-index: 100;
    position: relative;
    color: #fff;
}
.qrcode-wrap {
    background-color: #fff;
    display: none;
    left: 8px;
    padding: 30px 10px 10px;
    position: absolute;
    text-align: center;
    top: 210px;
    width: 120px;
    z-index: 20;
    -webkit-box-shadow: 4px 3px 6px 0 rgba(0,0,0,0.3);
    box-shadow: 4px 3px 6px 0 rgba(0,0,0,0.3);
}
.qrcode-wrap p {margin-bottom: 8px; font-size: 11px; font-family: 'ralewaybold'; color: #ff8649;}
.qrcode-wrap #qrcode-link {font-size: 8px; margin-bottom: 0;}
.qrcode-wrap #qrcode-link span {font-size: 11px; color: #ff8649;}
.qrcode-wrap img {margin: auto; width: 80%; margin-bottom: 8px;}
#qrcode-size {
    background-color: #337ab7;
    color: #fff;
    left: 0;
    width: 100%;
    top: 0px;
    padding: 3px 6px;
}
#qrcode-size a {color: #fff;}
#business-forms-tabs li {
  float: right;
}
#business-forms .btn,
#business-forms-tabs li a,
#label-services,
#business-form-tabs-table thead th{
  font-family: 'ralewaybold';
}
#label-services {
  padding: 10px;
}
#business-forms-tabs li>a {
  margin-right: 0;
  margin-left: 2px;
}
.create-form-wrap {
  border-radius: 4px;
  background-color: #d3e8ed;
  border: 1px solid #c6dadf;
  margin: 20px 0 25px;
  padding: 20px;
}
.create-form-wrap .btn-orange {
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
}
.view-form-wrap {
  border-radius: 4px;
  background-color: #dedede;
  border: 1px solid #cbcbcb;
  margin: 20px 0 25px;
  padding: 15px;
}
.view-form-wrap table th td,
#table-transaction-info td{
    border-top: 0px!important;
}
.view-form-wrap h5 {
  font-family: 'ralewaybold';
  color: #337ab7;
}
.view-form-wrap table tr td {
  border-bottom: 1px solid #bbbbbb;
}
.create-form-wrap form {
  border: 1px solid #c6c6c6;
  background-color: #fff;
  border-radius: 4px;
}
.view-form-wrap form {
  border: 1px solid #cbcbcb;
  background-color: #fff;
  border-radius: 4px;
}
.create-form-wrap .form-header input,
.create-form-wrap .form-header select {
    margin-bottom: 0;
}
.create-form-wrap .form-header .form-title {
    margin-top: 5px;
    display: inline-block;
}
.create-form-wrap .form-header,
.create-form-wrap .form-footer,
.view-form-wrap .form-header,
.view-form-wrap .form-footer {
  padding: 15px 20px;
}
.create-form-wrap .form-body,
.view-form-wrap .form-body {
  padding: 15px;
}
#btn-add-field {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
#radio-options input[type="text"],
#dropdown-options input[type="text"] {
    border: none;
    outline: none;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0px;
}
#field-actions .btn-blue {
    padding-left: 7px;
    padding-right: 7px;
    float: right;
    font-size: 11px;
}
#field-actions .btn-blue span {
    margin-right: 0px;
}
.create-form-wrap .form-header,
.view-form-wrap .form-header {
  background-color: #f4f4f4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #337ab7;
  font-family: 'ralewaybold';
  border-bottom: 1px solid #d7d7d7;
}
.create-form-wrap form p,
.view-form-wrap form p {
  margin: 0;
  margin-bottom: 0!important;
}
.create-form-wrap .sep {
  border-bottom: 1px solid #ccc;
  height: 1px;
  margin: 10px 0;
}
.create-form-wrap .entry,
.view-form-wrap .entry {
  margin-bottom: 10px;
}
.create-form-wrap #prio-number {
  float: right;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px!important;
}
.generate-forms input[type="text"],
.generate-forms select {
  border: 1px solid #337ab7;
  font-weight: bold;
  color: #337ab7;
}
.dynamic-inputs {
  margin-bottom: 25px;
}
.dynamic-inputs .entry {
  padding: 15px 0px;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 0px;
}
.view-form-wrap .dynamic-inputs .entry {
  margin-bottom: 10px;
}
.view-form-wrap .dynamic-inputs .entry {
  padding: inherit;
  border-bottom: none!important;
}
.create-form-wrap, .view-form-wrap, 
.table-view-signups {
  display: none;
}
span.glyphicon {
  margin-right: 5px;
}
#btn-delete-field {
  padding: 7px 2px;
  display: block;
}
#field-actions {
  text-align: center;
}
.create-form-wrap .btn-radio {margin-right: 10px;}
.create-form-wrap .btn-radio input {margin-right: 5px;}
#onoff {text-align: right;}
#onoff label.btn {
    padding: 5px 15px 6px!important;
}
#onoff .toggle-handle {
    padding-left: 12px!important;
    padding-right: 12px!important;
}
.form-title {
  font-size: 18px;
    color: #00ba8b;
}
.form-title:hover {
  text-decoration: none;
}
.form-title span {
  font-size: 13px;
  margin-left: 5px;
}
.mr5 {margin-right: 5px;}
#edit-form-title input {
    color: #333;
    font-size: 18px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 240px;
  border: none;
  background: none;
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: #337ab7;
}
#business-forms .table-hover>tbody>tr:hover {
  background-color: #fef9ef;
}
#btn-goback {
    right: -2px;
    top: -29px;
}
#btn-goback a {
    color: #fff!important;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

#record-datepicker, #filtered-name, #filtered-date{
    display:none;
}
.clearfix.search-filter input,
.clearfix.search-filter select {
    height: 36px;
    width: inherit;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
}
.clearfix.search-filter select {
    width: 120px;
}

#all-records:hover, #filtered-records:hover  {
    background-color: lightgray;
}