.feat-business {
    background: #03121a url('/img/feat-business.jpg') center no-repeat;
    height: 195px;
}
.biz-details-wrap {
    margin: 50px 0 40px;
}
.biz-navs {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.biz-navs .nav>li>a .glyphicon {
    font-size: 11px;
}

#view-broadcast,
#process-queue {
    font-family: 'ralewaybold';
    font-size: 16px;
    display: block;
    padding: 19px 20px;
    -webkit-border-radius: 8px;
    border-radius: 5px;
    margin-top: 8px;
    line-height: 18px;
    vertical-align: middle;
}

#view-broadcast {
    /*margin-top: 30px;*/
    color: #fff;
    /*background: #00ba8b url('/img/bg-view-broadcast.png') left no-repeat;*/
    background: #00ba8b;
}
#process-queue {
    position: relative;
    overflow: hidden;
    color: #fff;
    /*background: #ff925b url('/img/bg-processqueue.png') left no-repeat;*/
    background: #ff925b;
}
#process-queue a > span,
#view-broadcast > span {
    margin-right: 8px;
}
#view-broadcast:hover {
    background-color: #009b74;
}
#process-queue:hover {
    background-color: #d36e3c;
}
#view-broadcast:hover,
#process-queue:hover {
    text-decoration: none;
    cursor: pointer;
}
#process-queue a{
    color: #fff;
    text-decoration: none; /*ARA FEAQ-262 removes underline in process queue button*/
}
#add-business {
    font-family: 'ralewaybold';
    display: block;
    padding: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
}
#add-business {
    color: #fff;
    background: #ff925b;
}
#add-business span {
    padding-right: 8px;
    font-size: 11px;
}
#add-business:hover {
    background-color: #d36e3c;
}
#view-broadcast:hover,
#add-business:hover {
    text-decoration: none;
    cursor: pointer;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover,.nav-tabs>li.active>a:hover {
    background-color: #00ba8b;
    color: #fff;
    border: none;
}
.nav-tabs>li>a {
    padding: 15px 20px;
    border: none;
    color: #fff;
    background-color: #333a44;
}
#bizTabContent,
#box-wrapper {
    background-color: #fff;
    padding: 22px 20px 14px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom: 40px;
    min-height: 300px;
}
#box-wrapper {min-height: 80px;}
.biz-details h2 {
    text-shadow: 0 1px 0 #ffffff;
    font-family: 'ralewaybold';
    font-size: 24px;
    color: #00ba8b;
    margin-top: 5px;
    margin-bottom: 15px;
}
.biz-details p {
    margin-bottom: 5px;
}
.biz-details a {
    margin-bottom: 20px;
}

/*ARA 04082015*/
.biz-navs .form-control {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    background-color: #f0f0f0;
}
.form-control {
    font-size: 13px;
}
.biz-navs .form-control:focus {
    background-color: #fff9e3;
}
.biz-navs .form-group button.dropdown-toggle,
.biz-navs .form-group .btn-group,
.biz-navs .form-group .dropdown-menu {
    color: #555;
    width: 100%;
}
.biz-navs .form-group .btn-group .btn {
    background: none;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid #c7c7c7;
    font-family: 'ralewayregular'!important;
    font-size: 14px;
    color: #555;
}
.biz-navs .form-group .btn-group .btn .caret {
    text-align: right;
}
.address {
    margin-bottom: 15px!important;
}
#bizTabContent .tab-pane small {
    margin-bottom: 4px;
    font-size: 14px;
    display: inline-block;
}
#bizTabContent .tab-pane h5 {
    margin-bottom: 30px;
    font-size: 16px;
    color: #00ba8b;
}
#edit_business, #delete_business {
    margin-bottom: 20px;
}
#bizTabContent table td {
    border-bottom: 1px solid #e7e7e7;
}
h5>small {
    color: #333;
    font-size: 10px;
    font-family: ralewayregular;
    display: block!important;
    margin-top: 5px;
}
.settings input[type=checkbox] {
    font-size: 50px;
    float: left;
    margin-right: 12px;
    display: block;
    height: 30px;
}
.title {
    font-family: 'ralewaybold';
    margin-bottom: 6px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 14px 8px;
}
.biz-navs .nav-tabs li a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.dndesktop {
    display: none!important;
}

.dndesktop a:hover {
    background: none!important;
}

/* CSD 05252015 From css/dashboard.css */
.btn {
    border: none;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: 'ralewaybold';
    font-size: 12px;
    font-weight: normal;
    color: #fff;
}
.btn:hover,
.btn.focus, .btn:focus {
    color: #fff;
    outline: 0;
}
.btn-orange {
    background-color: #ff925b;
}
.btn-orange:hover {
    background-color: #ed701c;
}
.btn-blue {
    background-color: #5b75b3;
}
.btn-blue:hover {
    background-color: #5880de;
}
.btn-half {
    -webkit-border-radius: 23px;
    -webkit-border-top-right-radius: 1px;
    -webkit-border-bottom-right-radius: 1px;
    -moz-border-radius: 23px;
    -moz-border-radius-topright: 1px;
    -moz-border-radius-bottomright: 1px;
    border-radius: 23px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}
.button span {
    padding-right: 15px;
}
.btn-getnum {
    padding: 14px 30px;
    font-size: 14px;
    width: 100%;
    /*margin-top: 14px;*/
}
.btn-getnum span {
    padding-left: 4px;
    font-size: 13px;
    vertical-align: middle;
    margin-top: -3px;
}

.btn-select {
    background: none;
    outline: none;
    border: none;
    padding: 8px 20px;
    border: 1px solid #777;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.btn-cyan {
    background-color: #00ba8b;
}
.btn-gray {
    background-color: #858689;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .4);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .4);
}

#editbiz-tabs {
    padding-left: 13px;
    padding-right: 13px;
    margin-bottom: 20px;
}
#editbiz-tabs a {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 1px;
}
.btn-boxy {
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 10px;
    font-family: 'ralewayregular';
    font-size: 12px;
    font-weight: normal;
    color: #fff;
}
.inline-btns a {
    margin: 4px 0px 4px 0px;
}
#bizbroadcast .inline-btns p {
    height: 22px;
}
.btn-boxy:hover {
    text-decoration: none;
}
.nomg {
    margin: 0;
}
#inputterminal {
    display: none;
}
.mb10 {
    margin-bottom: 10px;
}
.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.table .block a {
    display: inline-block;
}

.table>tbody>tr>td {
    border-top: none;
}

.timestamp {
    font-size: 12px;
    color: #000;
    margin-bottom: 0px!important;
}

.sender {
    color: #000;
}

.messagefrom, .messageto {
    padding: 20px;
    color: #000;
}
.messagefrom {
    border-top: 1px solid rgb(0, 186, 139);
    background-color: rgba(0, 186, 139, 0.2);
}

.messageto {
    border-top: 1px solid rgb(255, 146, 91);
    background-color: rgba(255, 146, 91, 0.2);
}

.optionlabel {
    padding-left: 10px;
}

.phone-select {
    margin-bottom: 0px!important;
}

#select-phone-div {
    padding-top: 15px;
}

.biz-terminals {
    display: none;
    background-color: #1f5297;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
.biz-terminals a {
    float: left;
    width: 33.3333%;
    text-align: center;
    display: block;
    height: 100%;
    padding: 11px 0;
}
.biz-terminals a:hover {
    background-color: #3c93e4;
    text-decoration: none;
}
.biz-terminals a.not-active {
    opacity: 0.3;
}
.biz-terminals a.not-active:hover {
    cursor: text;
    background: none;
}
.biz-terminals a small {
    display: block;
    color: #fff;
    height: 100%;
}

#input_sms_field {
    border: none;
    border-bottom: 1px solid #c7c7c7;
    width: 30px;
    padding-bottom: 4px;
    text-align: center;
}

input#input_sms_field:focus{
    outline-width: 0;
    background-color: #fff9e3;

}

.orange {
    color: #ff8649!important;
}


