.version.index /* version checker */
{
	color: #0000E3;
	background-color: #7D4FA6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 1583px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -46px;
	padding-bottom: 62px;
}

#pu256
{
	width: 0.01px;
	margin-left: -11px;
}

#u256
{
	z-index: 4;
	width: 822px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u251
{
	z-index: 6;
	width: 800px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 11px;
}

#u246
{
	z-index: 8;
	width: 278px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 58px;
}

#u429-4
{
	z-index: 12;
	width: 540px;
	background-color: transparent;
	line-height: 60px;
	font-size: 50px;
	color: #FF925B;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 27px;
	position: relative;
}

#u432-11
{
	z-index: 48;
	width: 760px;
	min-height: 164px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 24px;
	position: relative;
}

#u435-4
{
	z-index: 16;
	width: 540px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FF925B;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
}

#u433-4
{
	z-index: 59;
	width: 760px;
	min-height: 77px;
	background-color: transparent;
	line-height: 20px;
	margin-left: 20px;
	margin-top: 13px;
	position: relative;
}

#u439-4
{
	z-index: 20;
	width: 540px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FF925B;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 33px;
	position: relative;
}

#u438-4
{
	z-index: 63;
	width: 760px;
	min-height: 76px;
	background-color: transparent;
	line-height: 20px;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#u443-4
{
	z-index: 24;
	width: 540px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FF925B;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 37px;
	position: relative;
}

#u442-4
{
	z-index: 67;
	width: 760px;
	min-height: 53px;
	background-color: transparent;
	line-height: 20px;
	margin-left: 20px;
	margin-top: 11px;
	position: relative;
}

#u447-4
{
	z-index: 28;
	width: 540px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FF925B;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 24px;
	position: relative;
}

#u446-4
{
	z-index: 71;
	width: 760px;
	min-height: 76px;
	background-color: transparent;
	line-height: 20px;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u451-4
{
	z-index: 32;
	width: 540px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FF925B;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 21px;
	position: relative;
}

#u450-4
{
	z-index: 75;
	width: 760px;
	min-height: 76px;
	background-color: transparent;
	line-height: 20px;
	margin-left: 20px;
	margin-top: 7px;
	position: relative;
}

#u457-4
{
	z-index: 36;
	width: 540px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FF925B;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 37px;
	position: relative;
}

#u456-4
{
	z-index: 79;
	width: 760px;
	min-height: 76px;
	background-color: transparent;
	line-height: 20px;
	margin-left: 20px;
	margin-top: 6px;
	position: relative;
}

#u461-4
{
	z-index: 40;
	width: 540px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FF925B;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 27px;
	position: relative;
}

#u460-4
{
	z-index: 83;
	width: 760px;
	min-height: 76px;
	background-color: transparent;
	line-height: 20px;
	margin-left: 20px;
	margin-top: 7px;
	position: relative;
}

#u462-4
{
	z-index: 105;
	width: 760px;
	min-height: 76px;
	background-color: transparent;
	line-height: 20px;
	margin-left: 20px;
	margin-top: 27px;
	position: relative;
}

#u432,#u432-4,#u432-7,#u433,#u438,#u442,#u446,#u450,#u456,#u460,#u462
{
	font-size: 19px;
	line-height: 28px;
}

#u321
{
	z-index: 2;
	width: 706px;
	background-color: transparent;
	margin-left: 46px;
	margin-top: 12px;
	position: relative;
}

#u465-4
{
	z-index: 44;
	width: 720px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FF925B;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 53px;
	position: relative;
}

#u466-18
{
	z-index: 87;
	width: 760px;
	min-height: 221px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 28px;
	position: relative;
}

#u466-2
{
	color: #0071BC;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u466
{
	font-size: 18px;
	text-decoration: underline;
	line-height: 26px;
}

#u466-4,#u466-6,#u466-8,#u466-10,#u466-11,#u466-13,#u466-15
{
	font-size: 18px;
	line-height: 26px;
	color: #0071BC;
	font-family: raleway, sans-serif;
	font-weight: 300;
}

#u466-3,#u466-5,#u466-7,#u466-9,#u466-12,#u466-14
{
	text-decoration: underline;
}

#u432-3,#u432-6,#u466-16
{
	line-height: 20px;
}

#u469-6
{
	z-index: 113;
	width: 330px;
	min-height: 76px;
	background-color: #FF925B;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	padding: 19px;
	text-align: center;
	color: #FFFFFF;
	margin-left: 215px;
	margin-top: 19px;
	position: relative;
}

#u469,#u469-4
{
	font-size: 24px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	line-height: 35px;
}

#u468-4
{
	z-index: 109;
	width: 760px;
	min-height: 76px;
	background-color: transparent;
	line-height: 20px;
	margin-left: 19px;
	margin-top: 38px;
	position: relative;
}

#u432-2,#u432-5,#u432-8,#u433-2,#u438-2,#u442-2,#u446-2,#u450-2,#u456-2,#u460-2,#u462-2,#u469-2,#u468-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u468
{
	font-size: 21px;
	line-height: 30px;
}

#u236
{
	z-index: 10;
	width: 108px;
	background-color: transparent;
	margin-left: 345px;
	margin-top: 50px;
	position: relative;
}

body
{
	position: relative;
	min-width: 800px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

