@media (max-width: 2000px) {
}
@media (max-width: 1300px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 992px) {

}

@media (min-width: 768px) and (max-width: 979px) {
    .filterwrap .btn-orange {
        margin-left: -15px;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    .filterwrap .row {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    /* @CSD removed for my business details page submit button
    .btn-orange {
        border-top-right-radius: 0px!important;
    }
    */
    #time_open-filter {
        border: none!important;
    }
    #search-keyword {
        background: #fff;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 4px;
    }
    .filterwrap .btn-group:first-child {
        border-bottom-left-radius: 0px;
    }
    .filterwrap .btn-group:nth-child(n+1) {
        border-top-right-radius: 4px;
        border:none;
    }
    .feat {
        background: none;
        background-color: #0a1820;
    }
    .feat h1 {
        margin-top: 70px;
    }
}
@media (max-width: 480px) {
    .feat-business {
        height: 143px;
    }
    .biz-navs .nav-tabs > li {
        float:none;
    }
    .biz-navs {
        margin-top: 0;
    }
    .biz-details-wrap img {
        margin-bottom: 20px;
    }
    #time_open-filter {
        border: none!important;
        border-top-right-radius: 4px!important;
    }
    .filterwrap .btn-group:nth-child(n+1) {
        border-top-right-radius: 4px;
        border:none;
    }
    .filterwrap .row {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .btn-orange {
        border-top-right-radius: 0px!important;
    }
    #search-keyword {
        background: #fff;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 4px;
    }
    .filterwrap .btn-group:first-child {
        border-bottom-left-radius: 0px;
    }
    .feat {
        background: none;
        background-color: #0a1820;
    }
    .feat h1 {
        margin-top: 70px;
    }
}
@media (max-width: 320px) {

}