@media (min-width: 768px) and (max-width: 979px) {
    .filterwrap .btn-orange {
        margin-left: -15px;
    }
    .filterwrap {
        background: none!important;
    }
    #search-keyword {
        background-color: #fff;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    .filterwrap .row {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    /* @CSD removed for my business details page submit button
    .btn-orange {
        border-top-right-radius: 0px!important;
    }
    */
    #search-keyword {
        border-bottom-right-radius: 4px;
    }
    .filterwrap .btn-group:first-child {
        border-bottom-left-radius: 0px;
    }
    .filterwrap .btn-orange {
        border-bottom-left-radius: 4px!important;
        border-top-left-radius: 4px!important;
        margin-top: 10px;
    }
    #time_open-filter {
        border: none!important;
    }
    #search-keyword {
        background: #fff;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 4px;
    }
    .filterwrap {
        background: none!important;
    }
    .filterwrap .btn-group:first-child {
        border-bottom-left-radius: 0px;
    }
    .filterwrap .btn-group:nth-child(n+1) {
        border-top-right-radius: 4px;
        border:none;
    }
    .feat {
        background: none;
        background-color: #0a1820;
    }
    .feat h1 {
        margin-top: 70px;
    }
    .feat-dashboard {
        height: inherit!important;
        padding-bottom: 40px;
    }
    #bizTab li {
        width: 33.33%;
    }
    .biz-navs .nav-tabs li a {
        border-top-right-radius: 0!important;
        border-top-left-radius: 0!important;
        padding-top: 9px;
        padding-bottom: 9px;
    }

    /* @CSD 04212015 */
    .processq-box .form-control {
        margin-right: 2px!important;
    }

    .processq-box .q-actions .btn-primary {
        float: right!important;
    }
    /* @CSD END */
    .processq-box .q-actions .btn-orange {
        margin-top: 11px!important;
        width: 100%;
    }
}
@media (max-width: 480px) {
    .filterwrap .dropdown-menu {
        width: 100%;
    }
    .line {
        overflow: visible!important;
    }
    #bizTabContent .inline-btns {
        margin-bottom: 40px;
        display: block;
    }
    .feat-business {
        height: 143px;
    }
    .biz-navs .nav-tabs > li {
        float:none;
    }
    .biz-navs {
        margin-top: 0;
    }
    .biz-details-wrap img {
        margin-bottom: 20px;
    }
    #time_open-filter {
        border: none!important;
        border-top-right-radius: 4px!important;
    }
    .filterwrap {
        background: none!important;
    }
    .filterwrap .btn-group:nth-child(n+1) {
        border-top-right-radius: 4px;
        border:none;
    }
    .filterwrap .row {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    #search-keyword {
        background: #fff;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .filterwrap .btn-group:first-child {
        border-bottom-left-radius: 0px;
    }
    .feat-dashboard {
        background-size: cover!important;
    }
    .feat h1 {
        margin-top: 70px;
    }
    .feat-dashboard {
        height: inherit!important;
        padding-bottom: 40px;
    }
    .edit-terminal-button, .delete-terminal-button, .update-terminal-button {
        display: block;
        margin-top: 2px!important;
        width: 90px;
    }
    .terminal-buttons {
        margin-top: 10px;
    }
    .filterwrap .btn-group:first-child {
        border-bottom-left-radius: 0px!important;
    }
    nav.pull-right {
        float: none!important;
    }
    .nav>li>a {
        padding: 12px;
    }
    .navbar-inverse .navbar-nav>.open>a {
        background: none;
    }
    #add-business {
        width: 285px;
    }
    .navbar-brand {
        padding-left: 0!important;
    }
    /* @CSD 04162015 */
    .processq .dropdown-wrapper {
        margin-right: 4px!important;
    }

    .processq-box .q-actions .btn-orange {
        margin-top: 11px!important;
        width: 100%;
    }

    .inline-btns a {
        margin-top: 2px!important;
    }
    /* @CSD End */
    .biz-navs .nav-tabs li a {
        border-top-right-radius: 0!important;
        border-top-left-radius: 0!important;
        padding-top: 9px;
        padding-bottom: 9px;
    }
    #bizTab li {
        width: 49.6%;
        float: left;
    }
    .biz-navs .nav-tabs li a {
        font-size: 12px;
    }

    /* @CSD 04212015 */
    .processq-box .form-control {
        margin-right: 2px!important;
    }

    .processq-box .q-actions .btn-primary {
        float: right!important;
    }

    .btn-boxy.btn-primary {
        width: 100px;
    }
    .btn-boxy.btn-cyan {
        width: 100px;
    }
    .cancel-adduser, .cancel-add-terminal {
        width: 100px;
        margin-top: 5px;
    }
    /* @CSD END */
    #search-suggest {
        width: 100%!important;
    }


}
@media (max-width: 320px) {
    .filterwrap .dropdown-menu {
        width: 100%;
    }
    #search-suggest {
        width: 100%!important;
    }
    #search-suggest li a {
        text-align: left;
    }
    #search-suggest li a:hover small {
        color: #fff!important;
    }
    .processq-box .q-actions .btn-orange {
        margin-top: 11px!important;
        width: 100%;
    }
    .filterwrap {
        background: none!important;
    }
    .feat h1 {
        margin-top: 90px;
    }
    .filterwrap .btn-group {
        width: 100%;
    }
    .filterwrap .btn-orange {
        margin-top: 15px;
        border-top-left-radius: 4px!important;
        border-top-right-radius: 4px!important;
        border-bottom-left-radius: 4px!important;
        border-bottom-right-radius: 4px!important;
    }
    .feat-dashboard {
        height: inherit!important;
        padding-bottom: 40px;
        background-image: none!important;
    }
    #search-keyword,
    .filterwrap .btn-orange {
        width: 100%!important;
        display: block;
        text-align: center;
    }
    #time_open-filter,
    #search-keyword {
        text-align: center!important;
    }
    #time_open-filter,
    .btn-group>.btn:first-child {
        border-top-right-radius: 0px!important;
        border:none!important;
    }
    .cancel-adduser, .cancel-add-terminal {
        margin-top: 2px;
    }
    .filterwrap .btn-group:nth-child(n+2) {
        border-top-right-radius: 0px!important;
    }
    .dropdown-menu li {
        text-align: center;
    }
    #bizTabContent .inline-btns {
        margin-bottom: 40px;
        display: block;
    }
    .settings input[type=checkbox] {
        height: inherit;
    }
    .btn-boxy.btn-primary {
        width: 100px;
    }
    .btn-boxy.btn-cyan {
        width: 100px;
    }
    .cancel-adduser, .cancel-add-terminal {
        width: 100px;
        margin-top: 2px;
    }
}