#search-suggest{
    display: inline-block;
    overflow: auto;
}
#search-suggest li {
    border-top: 1px solid #ccc;
}
#search-suggest li a {
    word-wrap: break-word;
    white-space: normal;
}
#search-suggest .address{
    font-size: 11px;
    color: #646464;
}

#biz-email, #search-keyword{
    margin-bottom: 0px;
}

#biz-address-lbl, #biz-industry-lbl{
    margin-top: 20px;
}
