<!DOCTYPE html>
<html>
<head>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/FeatherQ.js"></script>
    <title>FB Login Test</title>
    <meta charset="UTF-8">
</head>
<body>

<script>
    FeatherQ.facebook.statusChangeCallback();
    FeatherQ.facebook.checkLoginState();
    FeatherQ.facebook.fbAsyncInit();
    FeatherQ.facebook.loadSDK();
</script>

<fb:login-button scope="public_profile,email,user_friends" onlogin="FeatherQ.facebook.checkLoginState();" id="login">
</fb:login-button>
<input type="button" value="Logout" id="logout" style="display: none;" />

<div id="status">
</div>
<div id="scary-data">

</div>
<div id="friends">

</div>

</body>
</html>