.feat-kiosk {
  background: #03121a url("/img/feat-business.jpg") center no-repeat;
  height: 195px;
}

#kiosk-wrapper {
  min-height: 480px;
}

.number-to-issue {
  font-size: 200px;
  font-weight: bold;
  color: darkorange;
  line-height: normal;
}

#kiosk-wrapper .issue-number {
  text-align: center;
  margin-top: 120px;
}

#get-number {
  width: 97%;
  height: 70px;
  font-size: 27px;
  font-family: 'ralewaymedium';
}

#issue-confirmation-code .modal-dialog {
  width: 300px;
}

#issue-confirmation-code .modal-title {
  color: #00ba8b;
  font-family: 'ralewaybold';
}

#kioskTabContent {
  background-color: #fff;
  padding: 22px 20px 14px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 40px;
  min-height: 300px;
}

#kioskTabContent .emphasis {
  padding: 30px;
  margin-bottom: 20px;
  background-color: #daebf2;
}

.nav-tabs.nav-justified>li {
  width: 49.33%;
  float: left;
  list-style: none;
  margin: 3px;
}

.nav-tabs.nav-justified>li>a {
  border-radius: 0px 0px 0px 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover, .nav-tabs>li.active>a:hover {
  background-color: #00ba8b;
  color: #fff;
  border: none;
}

.nav-tabs>li>a {
  padding: 13px 20px;
  border: none;
  color: #fff;
  background-color: #333a44;
  font-size: 24px;
  font-family: 'ralewaymedium';
  height: 95px;
}

#pacing-schedule.nav-tabs>li>a {
  height: 60px;
}

#pacing-schedule.nav-tabs.nav-justified>li {
  width: 32.7%;
}

#time-slot-title {
  color: #00ba8b;
  margin-bottom: 10px;
  text-align: center;
}

#time-slot-title h1 {
  font-weight: bolder;
}